Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

matryoshka
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

better alignment with Atlas API
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

fix n_batch for embedding models
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

models3.json: add Nomic Embed v1 and v1.5
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

chat: restrict local embed to all-MiniLM-L6-v2-gguf2.f16.gguf for now
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

chat: don't do anything with pre-GGUF .bin files
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

python fixup
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

closer adherence to Atlas API
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

models3.json: add new MiniLM quant
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

it compiles!
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/embllm.h
Due: run-chat-workflow, run-default-workflow

llmodel_c: fix typo
  gpt4all-backend/llmodel_c.h
Due: run-chat-workflow, run-default-workflow

Fix issue #2087 where cloned models were lost and listed in download dialog erroneously.
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

models3.json: use removedIn to keep old MPT model
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

models3.json: bump MPT Chat requires since this PR missed v2.7.2
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

models: new MPT model file without duplicated token_embd.weight (#2006)
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

fix botched merge
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

chat: fix filename bug caused by merge
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

chat: update isEmbeddingModel logic for models.json
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

modellist: also whitelist nomic-embed-text-v1.txt
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

replaced chatgpt by general api
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatapi.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/mistral.cpp
  gpt4all-chat/mistral.h
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

chat session api, more specs, removed snake case checking/warning
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/spec/chat.mjs
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/spec/streaming.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/test/gpt4all.test.js
Due: run-ts-workflow, run-default-workflow

light refactoring of name conventions
  gpt4all-chat/chatapi.cpp
Due: run-chat-workflow, run-default-workflow

feat: added api server port setting
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/server.cpp
Due: run-chat-workflow, run-default-workflow

Minor fixes to server port feature.
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

Update gpt4all-training/train.py
  gpt4all-training/train.py
Due: run-default-workflow

#2024 Update ModelSettings.qml to default model/char settings combobox to the currently selected chat model
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

python: use slice to index embedding_ptr
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

fixed url from modelInfo
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

removed nomic prefixes
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Clean up settings properly for removed models and also when user manually deletes.
  gpt4all-chat/download.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

Don't erase the settings, but ignore them.
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Implement /v1/chat/completions endpoint for CPU mode
  gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
  gpt4all-api/gpt4all_api/app/tests/test_endpoints.py
Due: run-default-workflow

Update gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
Due: run-default-workflow

Update README.md
  gpt4all-api/README.md
Due: run-default-workflow

add special,fakeReply support
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

When the current chat has no model use the first index.
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
