Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

Some changes to address review comments.
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/database.h
Due: run-chat-workflow

Fix formula that was messed up in earlier simplification.
  gpt4all-chat/src/database.cpp
Due: run-chat-workflow

Change this back to address review comments.
  gpt4all-chat/src/database.cpp
Due: run-chat-workflow

Fix codespell error.
  gpt4all-chat/src/database.cpp
Due: run-chat-workflow

Some more review comments addressed.
  gpt4all-chat/src/database.cpp
Due: run-chat-workflow

Add a changelog entry.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Add a sq bracket.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Hybrid search (#2969)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/database.h
Due: run-chat-workflow

chatllm: do not pass nullptr as response callback
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

server: fix min/max min_p/top_p values
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

chat: bump version to 3.4.0-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chatllm: do not pass nullptr as response callback (#2995)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

server: fix min/max min_p/top_p values (#2996)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

chat: release version 3.3.1
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

latestnews: mention v3.3.1
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow

chat(build): fix incorrect APP_VERSION_BASE
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: bump version to v3.3.1-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chatllm: do not pass nullptr as response callback
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

server: fix min/max min_p/top_p values
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

chat: release version 3.3.0 (#2965)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: cut v3.3.1 release
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

backend: cleanup unused code
  gpt4all-backend/src/llmodel_shared.h
  gpt4all-backend/src/utils.cpp
  gpt4all-backend/src/utils.h
Due: run-all-workflows

backend: rebase llama.cpp on upstream commit 95bc82fbc
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-backend/src/utils.h
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
Due: run-all-workflows, run-chat-workflow

latestnews: fix typo
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow

changelog: bump date of v3.3.1
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: release version 3.3.1 (#2997)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Use different language for prompt size too large.
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chatllm.cpp
Due: run-all-workflows, run-chat-workflow

python: update changelog
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow

backend: rebase llama.cpp on upstream as of Sep 26th (#2998)
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-backend/src/llmodel_shared.h
  gpt4all-backend/src/utils.cpp
  gpt4all-backend/src/utils.h
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
Due: run-all-workflows, run-python-workflow, run-chat-workflow

llmodel: tweak wording
  gpt4all-backend/src/llmodel_shared.cpp
Due: run-all-workflows

changelog: add this PR
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow

Use different language for prompt size too large. (#3004)
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-all-workflows, run-python-workflow, run-chat-workflow

Add a feature to attach an excel spreadsheet to the chat conversation.
  .gitmodules
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/plus_circle.svg
  gpt4all-chat/icons/webpage.svg
  gpt4all-chat/qml/AddCollectionView.qml
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyFileDialog.qml
  gpt4all-chat/qml/MyFolderDialog.qml
  gpt4all-chat/qml/MyMenu.qml
  gpt4all-chat/qml/MyMenuItem.qml
  gpt4all-chat/qml/MySettingsStack.qml
  gpt4all-chat/qml/MySettingsTab.qml
  gpt4all-chat/qml/Theme.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.h
  gpt4all-chat/src/xlsxtomd.cpp
  gpt4all-chat/src/xlsxtomd.h
Due: run-chat-workflow

Persist the attachments in conversations.
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

Clean up some of the look+feel.
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow

initial docx support
  .gitmodules
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/qml/LocalDocsSettings.qml
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/database.h
Due: run-chat-workflow

stream docx files since we don't really have pages
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/database.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/utils.h
Due: run-chat-workflow
