Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

chat: cut v3.4.2 release (#3102)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: release v3.4.2
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: release v3.4.2 (#3104)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: bump version to 3.4.3-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: bump version to 3.4.3-dev0 (#3105)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

add tray
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

Enable more warning flags, and fix more warnings (#3065)
  common/common.cmake
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatlistmodel.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatviewtextprocessor.cpp
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/download.cpp
Due: run-all-workflows, run-chat-workflow

tests: create a 'check' target that actually builds the tests first
  gpt4all-chat/tests/CMakeLists.txt
Due: run-chat-workflow

cmake: fix check target for python test
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/tests/CMakeLists.txt
Due: run-chat-workflow

cmake: move testing-related code to tests/CMakeLists.txt
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/tests/CMakeLists.txt
Due: run-chat-workflow

tests: simplify python test and fix name
  gpt4all-chat/tests/CMakeLists.txt
  gpt4all-chat/tests/python_tests/test_executable.py
  gpt4all-chat/tests/python_tests/test_server_api.py
Due: run-chat-workflow

cmake: make python optional
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/tests/CMakeLists.txt
Due: run-chat-workflow

tests: make python dependency optional (#3115)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/tests/CMakeLists.txt
Due: run-chat-workflow

Add test scaffolding (#3103)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/tests/CMakeLists.txt
  gpt4all-chat/tests/basic_test.cpp
  gpt4all-chat/tests/python_tests/test_executable.py
  gpt4all-chat/tests/test_main.cpp
Due: run-chat-workflow

tests: reorganize subfolders
  gpt4all-chat/tests/CMakeLists.txt
  gpt4all-chat/tests/cpp/basic_test.cpp
  gpt4all-chat/tests/cpp/test_main.cpp
  gpt4all-chat/tests/python/python_tests/test_executable.py
Due: run-chat-workflow

chat: exit gracefully on first occurrence of SIGINT/TERM/HUP
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

tests: implement the first useful test
  .gitignore
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/tests/CMakeLists.txt
  gpt4all-chat/tests/python/__init__.py
  gpt4all-chat/tests/python/config.py.in
  gpt4all-chat/tests/python/python_tests/test_executable.py
  gpt4all-chat/tests/python/test_server_api.py
Due: run-chat-workflow

tests: configure python dependencies and linting
  gpt4all-chat/.flake8
  gpt4all-chat/dev-requirements.txt
  gpt4all-chat/pyproject.toml
  gpt4all-chat/test-requirements.txt
Due: run-chat-workflow

Gpt4all Custom Updater
  gpt4all-updater/CMakeLists.txt
  gpt4all-updater/README
  gpt4all-updater/include/Command.h
  gpt4all-updater/include/CommandFactory.h
  gpt4all-updater/include/CommandLine.h
  gpt4all-updater/include/Downgrade.h
  gpt4all-updater/include/Download.h
  gpt4all-updater/include/Embeded.h
  gpt4all-updater/include/Manifest.h
  gpt4all-updater/include/Modify.h
  gpt4all-updater/include/Package.h
  gpt4all-updater/include/Resource.h
  gpt4all-updater/include/State.h
  gpt4all-updater/include/Uninstall.h
  gpt4all-updater/include/Update.h
  gpt4all-updater/include/utils.h
  gpt4all-updater/src/Command.cxx
  gpt4all-updater/src/CommandFactory.cxx
  gpt4all-updater/src/CommandLine.cxx
  gpt4all-updater/src/Downgrade.cxx
  gpt4all-updater/src/Download.cxx.in
  gpt4all-updater/src/Embeded.cxx
  gpt4all-updater/src/Manifest.cxx
  gpt4all-updater/src/Modify.cxx
  gpt4all-updater/src/Package.cxx
  gpt4all-updater/src/Resource.cxx
  gpt4all-updater/src/State.cxx
  gpt4all-updater/src/Uninstall.cxx
  gpt4all-updater/src/Update.cxx
  gpt4all-updater/src/asm/bake_installer.S.in
  gpt4all-updater/src/main.cxx
  gpt4all-updater/src/resources/installer.rc.in
  gpt4all-updater/src/utils.cxx
  gpt4all-updater/tmp/manifest.xml
Due: none

Implement the first real test of gpt4all-chat (#3116)
  .gitignore
  gpt4all-chat/.flake8
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/dev-requirements.txt
  gpt4all-chat/pyproject.toml
  gpt4all-chat/src/main.cpp
  gpt4all-chat/test-requirements.txt
  gpt4all-chat/tests/CMakeLists.txt
  gpt4all-chat/tests/cpp/basic_test.cpp
  gpt4all-chat/tests/cpp/test_main.cpp
  gpt4all-chat/tests/python/__init__.py
  gpt4all-chat/tests/python/config.py.in
  gpt4all-chat/tests/python/test_server_api.py
  gpt4all-chat/tests/python_tests/test_executable.py
Due: run-chat-workflow

server: fix build on Qt 6.8
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

qml: fix missing import for IconLabel
  gpt4all-chat/qml/MySettingsStack.qml
Due: run-chat-workflow

cmake: suppress warning about QTP0004
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

codespell: update .codespellrc
  .codespellrc
Due: none

codespell: update .codespellrc (#3122)
  .codespellrc
Due: none

ci: add back the no-op job
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all-workflows

ci: attempt to fix flaky downloads
  .circleci/continue_config.yml
Due: run-all-workflows

ci: install curl on Windows
  .circleci/continue_config.yml
Due: run-all-workflows

ci: use wget instead of curl
  .circleci/continue_config.yml
Due: run-all-workflows

work around unhelpful Invoke-WebRequest alias
  .circleci/continue_config.yml
Due: run-all-workflows

chatllm: fix use of deprecated '_qs'
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

github: add clazy to linting workflow
  .github/workflows/codespell.yml
  .github/workflows/lint.yml
Due: none

github: attempt to install Qt
  .github/workflows/lint.yml
Due: none

github: update Ubuntu runner
  .github/workflows/lint.yml
Due: none

github: update lint workflow
  .github/workflows/lint.yml
Due: none

github: fix syntax
  .github/workflows/lint.yml
Due: none

github: add missing dep
  .github/workflows/lint.yml
Due: none

github: fix dep
  .github/workflows/lint.yml
Due: none
