Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

llamamodel: restore add_special=true
  gpt4all-backend/src/llamamodel.cpp
Due: run-all-workflows

tests: simplify comparison
  gpt4all-chat/tests/python/test_server_api.py
Due: run-chat-workflow

Add a fixme for a potential crasher.
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

server: fix missing 'else'
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

Update the sources in chatllm directly and make it thread safe to do so.
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

fix off-by-one error
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

add TODO comment
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

chatapi: implement Jinja output parsing
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/utils.h
Due: run-chat-workflow

do not allow continuing a failed conversation
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

add missing file
  gpt4all-chat/src/utils.inl
Due: run-chat-workflow

remove duplicated logic with different magic constant
  gpt4all-chat/src/chat.cpp
Due: run-chat-workflow

fix chat name generation
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

chatmodel: simplify ChatItem construction
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

link prompts and responses for LocalDocs sources
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

clear sources when regenerate is clicked
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

compatibility with non-GPT4All Jinja templates
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/jinja_helpers.cpp
  gpt4all-chat/src/jinja_helpers.h
Due: run-chat-workflow

fix scroll jumping during generation with LocalDocs
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

remove allowContextShift for now
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
Due: run-all-workflows, run-python-workflow, run-chat-workflow

add comment
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

Added args to additional method
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow

Add proxy and SSL config options
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow

add back eos_token since it *is* apparently standard
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
Due: run-all-workflows, run-chat-workflow

cleanup
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-all-workflows, run-python-workflow

python: improve compatibility between C++ and Python templates
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-all-workflows, run-python-workflow

improve compatibility between GPT4All and HF templates
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-chat/src/chatllm.cpp
Due: run-python-workflow, run-chat-workflow

less strict version comment parsing
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

provide an upgrade path for legacy templates
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MyTextArea.qml
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/main.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
  gpt4all-chat/src/network.cpp
Due: run-chat-workflow

remove debug prints
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow

ModelSettings: add reset buttons for chat template and system message
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MySettingsButton.qml
  gpt4all-chat/qml/MySettingsLabel.qml
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

ModelSettings: give online models a system message field
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow

warn when a non-legacy system message or template looks wrong
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MyTextArea.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow

Cleanup
  gpt4all-updater/CMakeLists.txt
  gpt4all-updater/include/Resource.h
  gpt4all-updater/src/Resource.cxx
  gpt4all-updater/src/State.cxx
Due: none

mysettings: refactor chat template and system message get/set/reset
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

react to model info changes more accurately
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

llamamodel: fix print formatting
  gpt4all-backend/src/llamamodel.cpp
Due: run-all-workflows

load default chat templates from GGUF files
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-all-workflows, run-chat-workflow

qml: fix property updates and add error notice to chat view
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MySettingsLabel.qml
Due: run-chat-workflow

qml: pop up a dialog to confirm reset of settings
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ConfirmationDialog.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/SwitchModelDialog.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow

qml: prompt for restoring the page of settings as well
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/LocalDocsSettings.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MySettingsTab.qml
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
