Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Update gpt4all-bindings/python/mkdocs.yml
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Update gpt4all_monitoring.md
  gpt4all-bindings/python/docs/gpt4all_monitoring.md
Due: run-python-workflow, run-default-workflow

Add a fixme_blocker comment for localdocs and fix a spelling mistake.
  gpt4all-chat/database.cpp
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

make sure dlhandle.cpp gets linked correctly
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/scripts/assert-backend-sources.js
Due: run-ts-workflow, run-default-workflow

add include for check_cxx_compiler_flag call during aarch64 builds
  gpt4all-backend/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

x86 > arm64 cross compilation of runtimes and bindings
  .circleci/continue_config.yml
  gpt4all-backend/toolchains/linux-arm64-toolchain.cmake
  gpt4all-bindings/typescript/scripts/build_unix.sh
  gpt4all-bindings/typescript/scripts/prebuild.js
Due: run-all-workflows, run-ts-workflow, run-chat-workflow, run-default-workflow

default to cpu instead of kompute on arm64
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

formatting, more minimal example
  gpt4all-bindings/typescript/scripts/prebuild.js
  gpt4all-bindings/typescript/spec/chat-minimal.mjs
Due: run-ts-workflow, run-default-workflow

chat: use qGuiApp, not qApp
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatlistmodel.cpp
  gpt4all-chat/download.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/network.cpp
Due: run-chat-workflow, run-default-workflow

typescript bindings maintenance (#2363)
  .circleci/continue_config.yml
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/toolchains/linux-arm64-toolchain.cmake
  gpt4all-bindings/typescript/.gitignore
  gpt4all-bindings/typescript/.npmignore
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/scripts/assert-backend-sources.js
  gpt4all-bindings/typescript/scripts/build_unix.sh
  gpt4all-bindings/typescript/scripts/prebuild.js
  gpt4all-bindings/typescript/spec/chat-minimal.mjs
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/context-large.mjs
  gpt4all-bindings/typescript/spec/context-recalc.mjs
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/spec/token-callbacks.mjs
  gpt4all-bindings/typescript/spec/token-streaming-emoji.mjs
  gpt4all-bindings/typescript/spec/token-streaming.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/test/bindings.test.js
  gpt4all-bindings/typescript/test/ci.test.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-all-workflows, run-ts-workflow, run-chat-workflow, run-default-workflow

chat: fix #includes with include-what-you-use
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatapi.h
  gpt4all-chat/chatlistmodel.cpp
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/chatmodel.h
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/embeddings.cpp
  gpt4all-chat/embeddings.h
  gpt4all-chat/embllm.cpp
  gpt4all-chat/embllm.h
  gpt4all-chat/llm.cpp
  gpt4all-chat/llm.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocs.h
  gpt4all-chat/localdocsmodel.cpp
  gpt4all-chat/localdocsmodel.h
  gpt4all-chat/logger.cpp
  gpt4all-chat/logger.h
  gpt4all-chat/main.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/network.cpp
  gpt4all-chat/network.h
  gpt4all-chat/responsetext.cpp
  gpt4all-chat/responsetext.h
  gpt4all-chat/server.cpp
  gpt4all-chat/server.h
Due: run-chat-workflow, run-default-workflow

Revert "typescript bindings maintenance (#2363)"
  .circleci/continue_config.yml
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/toolchains/linux-arm64-toolchain.cmake
  gpt4all-bindings/typescript/.gitignore
  gpt4all-bindings/typescript/.npmignore
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/scripts/assert-backend-sources.js
  gpt4all-bindings/typescript/scripts/build_unix.sh
  gpt4all-bindings/typescript/scripts/prebuild.js
  gpt4all-bindings/typescript/spec/callbacks.mjs
  gpt4all-bindings/typescript/spec/chat-memory.mjs
  gpt4all-bindings/typescript/spec/chat-minimal.mjs
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/spec/long-context.mjs
  gpt4all-bindings/typescript/spec/streaming.mjs
  gpt4all-bindings/typescript/spec/token-streaming-emoji.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/test/bindings.test.js
  gpt4all-bindings/typescript/test/gpt4all.test.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-all-workflows, run-ts-workflow, run-chat-workflow, run-default-workflow

Fix double deletion that snuck in with merge error.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: remove hasGPUDevice
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

llamamodel: simplify current GPU device logic
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Nightly offline build for ui
  .circleci/config.yml
Due: run-all-workflows, run-default-workflow

docs unclear, needed string json
  .circleci/config.yml
Due: run-all-workflows, run-default-workflow

chat: device and device backend are properties of the LLModel
  gpt4all-backend/llmodel.h
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/network.cpp
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: fix #includes with include-what-you-use (#2401)
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatapi.h
  gpt4all-chat/chatlistmodel.cpp
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/chatmodel.h
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/embeddings.cpp
  gpt4all-chat/embeddings.h
  gpt4all-chat/embllm.cpp
  gpt4all-chat/embllm.h
  gpt4all-chat/llm.cpp
  gpt4all-chat/llm.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocs.h
  gpt4all-chat/localdocsmodel.cpp
  gpt4all-chat/localdocsmodel.h
  gpt4all-chat/logger.cpp
  gpt4all-chat/logger.h
  gpt4all-chat/main.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/network.cpp
  gpt4all-chat/network.h
  gpt4all-chat/responsetext.cpp
  gpt4all-chat/responsetext.h
  gpt4all-chat/server.cpp
  gpt4all-chat/server.h
Due: run-chat-workflow, run-default-workflow

Update for circleci configuation capacity issues
  .circleci/config.yml
Due: run-all-workflows, run-default-workflow

chat: don't use incomplete types with signals/slots/Q_INVOKABLE
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatapi.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/embllm.h
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/network.cpp
  gpt4all-chat/network.h
  gpt4all-chat/server.cpp
  gpt4all-chat/server.h
Due: run-chat-workflow, run-default-workflow

mixpanel: s/deviceBackend/device_backend/
  gpt4all-chat/network.cpp
Due: run-chat-workflow, run-default-workflow

mixpanel: report default_device_backend (typically Vulkan)
  gpt4all-backend/llmodel.h
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

Make workflow actually work
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

forgot to update variable
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

LocalDocsView: use %n for plurals
  gpt4all-chat/qml/LocalDocsView.qml
Due: run-chat-workflow, run-default-workflow

database: add a FIXME_BLOCKER comment
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Update build_and_run.md, add debian install instructions
  gpt4all-chat/build_and_run.md
Due: run-chat-workflow, run-default-workflow

docs: document OpenLIT integration (#2386)
  README.md
  gpt4all-bindings/python/docs/gpt4all_monitoring.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Update checkout action to v4
  .github/workflows/codespell.yml
Due: run-default-workflow

ci: update checkout action to v4 in codespell workflow (#2414)
  .github/workflows/codespell.yml
Due: run-default-workflow

Add error output for build.rs CMake build step
  gpt4all-bindings/rust/build.rs
Due: run-default-workflow

Suppress build error when symlink already exists
  gpt4all-bindings/rust/build.rs
Due: run-default-workflow

Ignore Cargo.lock in Rust bindings
  gpt4all-bindings/rust/.gitignore
Due: run-default-workflow

Add GitHub Actions for Rust build
  .codespellrc
  .github/workflows/codespell.yml
  .github/workflows/rust.yml
  gpt4all-bindings/rust/Cargo.toml
  gpt4all-bindings/rust/src/wrappers/completion/domain.rs
Due: run-default-workflow

rust bindings code refactoring
  gpt4all-bindings/rust/Cargo.lock
  gpt4all-bindings/rust/Cargo.toml
  gpt4all-bindings/rust/src/model_source/defaults.rs
  gpt4all-bindings/rust/src/model_source/errors.rs
  gpt4all-bindings/rust/src/model_source/file_utils.rs
  gpt4all-bindings/rust/src/model_source/gpt4all_model_source.rs
  gpt4all-bindings/rust/src/wrappers/completion/defaults.rs
  gpt4all-bindings/rust/src/wrappers/embedding/domain.rs
  gpt4all-bindings/rust/src/wrappers/embedding/embedding_model.rs
  gpt4all-bindings/rust/src/wrappers/embedding/errors.rs
  gpt4all-bindings/rust/src/wrappers/loader/defaults.rs
  gpt4all-bindings/rust/src/wrappers/loader/domain.rs
  gpt4all-bindings/rust/src/wrappers/loader/errors.rs
  gpt4all-bindings/rust/src/wrappers/loader/model_loader.rs
Due: run-default-workflow

Use AsRef for Embedding prefix in builder
  gpt4all-bindings/rust/src/wrappers/embedding/domain.rs
Due: run-default-workflow

database: sync embeddings to disk, use more transactions
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/embeddings.cpp
  gpt4all-chat/embeddings.h
  gpt4all-chat/oscompat.cpp
  gpt4all-chat/oscompat.h
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
