Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

modellist: make role names 'static const'
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

add comment to ModelInfo
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

Fixed and updated some strings in pt-BR
  gpt4all-chat/translations/gpt4all_pt_BR.ts
Due: run-chat-workflow, run-default-workflow

Fixed and updated some strings in pt-BR (#2836)
  gpt4all-chat/translations/gpt4all_pt_BR.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow, run-default-workflow

GPT4All +v3.1.1: GUI: TRANSLATION: into ro_RO (#2834)
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow, run-default-workflow

Change to a whitelist for released translations.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

Add es_MX to release.
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

Use static const.
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

Fix up portuguese same as es_MX and add to release.
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

Add RO to release.
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

Add changelog entry.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

Bump the version for translation release.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Add default CLion build folder pattern to .gitignore (#2835)
  .gitignore
Due: run-default-workflow

Update gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

Add portuguese making seven.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

fix PR number in changelog
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

Change to a whitelist for released translations. (#2830)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

ci: fix macOS target version
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: fix macOS target version (#2846)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

chat: add release notes for v3.2.0 and bump version
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

release.json: tweak wording
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

chat: add release notes for v3.2.0 and bump version (#2847)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Add some news about our latest translation release.
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

latestnews: fixes
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

ci: sort cmake options consistently
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: fix argument quoting on Windows
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: use cmake's -G option
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: pass build type at configure time for Makefile generator
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: use consistent build options on macOS
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Add some news about our latest translation release. (#2848)
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

ci: remove GPT4ALL_SIGN_INSTALLER since it doesn't do anything
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

python: update changelog
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow, run-default-workflow

latestnews: clarify how to change language
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

latestnews: clarify how to change language (#2850)
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

ci: use consistent build options on macOS (#2849)
  .circleci/continue_config.yml
  gpt4all-bindings/python/CHANGELOG.md
Due: run-all-workflows, run-python-workflow, run-default-workflow

changelog: add entries for this PR
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
