Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

add libgl-dev
  .github/workflows/cpp-linter.yml
Due: none

cpp-linter: ignore third-party dependencies from FetchContent
  .github/workflows/cpp-linter.yml
Due: none

ci: add GitHub action for clang-tidy
  .clang-tidy
  .github/workflows/cpp-linter.yml
Due: none

try to fix remaining annotations
  .clang-tidy
  .github/workflows/cpp-linter.yml
  gpt4all-backend/src/llamamodel_impl.h
Due: run-all-workflows

chat: run update_translations for v3.5.0
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

chat: run update_translations for v3.5.0 (#3230)
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

further attempts to fix warnings
  .clang-tidy
  .github/workflows/cpp-linter.yml
Due: none

Italian Localization Update
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

explicitly install/update git and make
  .github/workflows/cpp-linter.yml
Due: none

update clang for __cpp_concepts=202002 required by libstdc++13 <expected>
  .github/workflows/cpp-linter.yml
Due: none

ignore new warnings
  .clang-tidy
Due: none

ignore the last two warnings
  .clang-tidy
Due: none

revert #include fix for now
  gpt4all-backend/src/llamamodel_impl.h
Due: run-all-workflows

2024.12.07-GPT4All 3.4.2x. GUI - Translation to ro_RO
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

2024.12.07 - GPT4All v3.4.2x. - Translation into ru_RU (Russian)
  gpt4all-chat/translations/gpt4all_ru_RU.ts
Due: run-chat-workflow

2024.12.07 - GPT4All v3.4.2x. - Translation into de_DE (German/Deutsch)
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow

changelog: fix parenthesis
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

drop vanished strings
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Italian localization update (#3236)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

chatllm: fix formatting of message length error
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

qml: don't confirm redo of last response
  gpt4all-chat/qml/ChatItemView.qml
Due: run-chat-workflow

modellist: add default chat template for remote models
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

run lupdate -no-obsolete
  gpt4all-chat/translations/gpt4all_ru_RU.ts
Due: run-chat-workflow

run lupdate -no-obsolete
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow

GPT4All v3.5.0: Translation - Romanian: Updated gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

make jinja2 callable parsing more robust
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

fixups for GPT4All v3.5.0-rc2 (#3239)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

fix changelog attribution
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

update Romanian translation for v3.5.0 (#3232)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

chat: cut v3.5.0 release
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: cut v3.5.0 release (#3240)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

v3.5.0: translation: updated gpt4all_de_DE.ts
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow

GPT4All v3.5.0: translation: RUssian - update gpt4all_ru_RU.ts
  gpt4all-chat/translations/gpt4all_ru_RU.ts
Due: run-chat-workflow

chat: release v3.5.0
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow
