Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

code interpreter: support variadic console.log (#3371)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

llamamodel: add missing softmax to fix temperature (#3202)
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

chat: fix localdocs breakage in v3.5.2 (#3302)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

Server view fix (#3411)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

ci: add missing context to Windows ARM builds (#3400)
  .circleci/continue_config.yml
Due: run-all-workflows

chat: cut v3.5.0-rc1 release candidate (#3218)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

ci: attempt to fix Ubuntu build
  .circleci/continue_config.yml
Due: run-all-workflows

Support DeepSeek-R1 Qwen (#3431)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Release notes and latestnews for v3.5.1. (#3253)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Code interpreter (#3173)
  common/common.cmake
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/qml/AddGPT4AllModelView.qml
  gpt4all-chat/qml/ChatCollapsibleItem.qml
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/ChatTextItem.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/codeinterpreter.cpp
  gpt4all-chat/src/codeinterpreter.h
  gpt4all-chat/src/jinja_helpers.cpp
  gpt4all-chat/src/jinja_helpers.h
  gpt4all-chat/src/main.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/tool.cpp
  gpt4all-chat/src/tool.h
  gpt4all-chat/src/toolcallparser.cpp
  gpt4all-chat/src/toolcallparser.h
  gpt4all-chat/src/toolmodel.cpp
  gpt4all-chat/src/toolmodel.h
Due: run-chat-workflow

changelog: fix reference to wrong macOS version
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

fix chatmodel.h #includes
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/server.h
Due: run-chat-workflow

fixups for GPT4All v3.5.0-rc2 (#3239)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

update Romanian translation for v3.5.0 (#3232)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

chat: cut v3.5.0-rc2 release candidate (#3229)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

ci: verify that installers we build function and are signed (#3432)
  .circleci/continue_config.yml
Due: run-all-workflows

chat: bump version to 3.8.0-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Update to Qt 6.8.1 (#3386)
  .circleci/continue_config.yml
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

qml: tweaks to new edit/redo buttons (#3228)
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/MyToolButton.qml
Due: run-chat-workflow

changelog: add more changes from #3147 (#3226)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Save chats on quit, even if window isn't closed first (#3387)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/main.qml
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatlistmodel.h
Due: run-chat-workflow

Bump the version to 3.5.2-dev0. (#3254)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

changelog: add missing link
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

fix: format of language and locale setting (#3370)
  gpt4all-bindings/python/docs/gpt4all_desktop/settings.md
Due: run-python-workflow

chat templates: work around Jinja2Cpp issue with 'not X is defined' (#3372)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Bump version for 3.7.0 release. (#3401)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

fix several bad chat templates (#3250)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

cmake: do not modify gpt4all.app after signing it (#3413)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

updated settings page (#3368)
  gpt4all-bindings/python/docs/gpt4all_desktop/settings.md
Due: run-python-workflow

changelog: add PR #3251
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Properly report that the computation was timedout to the model (#3369)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
  gpt4all-chat/src/codeinterpreter.h
Due: run-chat-workflow

Fix Jinja2Cpp bug that broke system msg detection in templates (#3325)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

New v3.5.3 hotfix release. (#3304)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Revert "cmake: do not modify gpt4all.app after signing it (#3413)"
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

jinja2cpp: update submodule for partial subscript crash fix (#3394)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

changelog: fix parenthesis
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: release version 3.7.0 (#3407)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

StartupDialog: fix two untranslated strings (#3293)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/StartupDialog.qml
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

add changelog entries for Jinja PR (#3223)
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow

Fix regression while using localdocs with server API. (#3410)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
