Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

ci
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

merge win+mac ci fixes for node bindings from pull-2403
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

add getBackendName and getGpuDeviceName
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/test/bindings.test.js
Due: run-ts-workflow, run-default-workflow

fix mac compilation?
  gpt4all-bindings/typescript/binding.gyp
Due: run-ts-workflow, run-default-workflow

lingering hasgpu
  gpt4all-bindings/typescript/test/bindings.test.js
Due: run-ts-workflow, run-default-workflow

fix linger
  gpt4all-bindings/typescript/test/bindings.test.js
Due: run-ts-workflow, run-default-workflow

fix ci
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

server: separate chat and completions, rewrite request parsing
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/server.h
Due: run-chat-workflow, run-default-workflow

server: fix implementation and output of completion endpoints
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

chat: misc cleanup as recommended by iwyu/clazy/clang-tidy
  gpt4all-chat/src/localdocsmodel.h
  gpt4all-chat/src/modellist.h
  gpt4all-chat/src/mysettings.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/server.h
Due: run-chat-workflow, run-default-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

llmodel: use std::optional for fakeReply for better ergonomics
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

server: string argument fixups
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

server: prohibit unrecognized arguments
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

server: revert stale change that shouldn't be here
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

ci: use more current Windows images to fix build failure
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

add fake_reply parameter to Embed4All.generate()
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

remove logits as its not part of the prompt context struct anymore
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
Due: run-ts-workflow, run-default-workflow

mixpanel: report more information about the build and platform
  gpt4all-chat/src/network.cpp
Due: run-chat-workflow, run-default-workflow

ci: update QtIFW to 4.8
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

installer: disallow installation on macOS before 12.6
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/installer_component.qs
  gpt4all-chat/cmake/installer_control.qs
Due: run-chat-workflow, run-default-workflow

ci: use Enter-VsDevShell to avoid hardcoded paths
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: consistent and word-wrapped apt installs
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: fix incorrect Qt cmake paths
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: fix QtIFW paths
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: remove unused "default" job/workflow
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: bump Qt cache keys
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: improve readability and correctness (#2941)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: use GCC 12 on Linux
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: don't cache Qt (for now?)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: use ccache for all builds
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: disable Vulkan version check consistently
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: use ccache to cache compiler output (#2942)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: remove trailing whitespace
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

server: use std::string formatter as parent
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

chat: replace std::format with fmtlib for now
  .gitmodules
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

server: remove no longer needed #include
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

added support for chat.completion to return sse response
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow, run-default-workflow

server: improve correctness of request parsing and responses (#2929)
  .circleci/continue_config.yml
  .gitmodules
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/localdocsmodel.h
  gpt4all-chat/src/modellist.h
  gpt4all-chat/src/mysettings.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/server.h
Due: run-all-workflows, run-chat-workflow, run-default-workflow

network: remove lingering assertion from #2238
  gpt4all-chat/src/network.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
