Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

chore(gpt4all_zh_tw.ts): update zh_tw translation
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow, run-default-workflow

llama.cpp: pull in fix for Kompute-related nvidia-egl crash (#2843)
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow, run-default-workflow

llamamodel: use greedy sampling when temp=0
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

add changelog entries
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

add python changelog entry
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow, run-default-workflow

backend(build): set CUDA arch defaults before enable_language(CUDA)
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

changelog: add entry for this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

backend(build): set CUDA arch defaults before enable_language(CUDA) (#2855)
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

Change version to v3.2.1 for bugfix release.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Change version to v3.2.1 for bugfix release. (#2856)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

changelog: acknowledge the version bump for v3.2.1
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

llamamodel: use greedy sampling when temp=0 (#2854)
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow, run-default-workflow

python: release version 2.8.1
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: release version 2.8.1 (#2857)
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: fix CUDA dependency version
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

change version back to v2.8.1, we can still use it
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: fix CUDA dependency version (#2858)
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Add release notes and bump version for v3.2.1
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Actually bump.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Update gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

Update gpt4all-chat/metadata/release.json
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Add release notes and bump version for v3.2.1 (#2859)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Add Changelog to links on PyPI
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Fix _pyllmodel.py
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

Add jinja third party dependency.
  .gitmodules
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Begin converting the localdocs to a tool.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/bravesearch.cpp
  gpt4all-chat/bravesearch.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/localdocssearch.cpp
  gpt4all-chat/localdocssearch.h
  gpt4all-chat/sourceexcerpt.h
  gpt4all-chat/tool.h
Due: run-chat-workflow, run-default-workflow

Fix problem with only displaying one source for tool call excerpts.
  gpt4all-chat/chatmodel.h
Due: run-chat-workflow, run-default-workflow

Use an enum for tool usage mode.
  gpt4all-chat/bravesearch.cpp
  gpt4all-chat/bravesearch.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/localdocssearch.h
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/tool.h
  gpt4all-chat/toolmodel.h
Due: run-chat-workflow, run-default-workflow

Implement error handling for tool calls.
  gpt4all-chat/bravesearch.cpp
  gpt4all-chat/bravesearch.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/localdocssearch.cpp
  gpt4all-chat/localdocssearch.h
  gpt4all-chat/tool.h
Due: run-chat-workflow, run-default-workflow

Serialize the source excerpts from and to pure json
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatmodel.h
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/server.cpp
  gpt4all-chat/sourceexcerpt.cpp
  gpt4all-chat/sourceexcerpt.h
Due: run-chat-workflow, run-default-workflow

Move the jinja processing to mysettings and validation.
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/toolinfo.h
Due: run-chat-workflow, run-default-workflow

Get rid of the name change now that 3.2.0 has been released.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Use parameters which is in keeping with other standard practices.
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

Stop hardcoding the tool call checking and rely upon the format advocated by ollama for tool calling.
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

Move to a brave search specific settings page.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/bravesearch.h
  gpt4all-chat/localdocssearch.h
  gpt4all-chat/qml/BraveSearchSettings.qml
  gpt4all-chat/qml/SettingsView.qml
Due: run-chat-workflow, run-default-workflow

Change the name to announce the beta.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Change the name to inc the beta.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Inc again for new beta.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
