Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

changelog: add missing link
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

changelog: fix reference to wrong macOS version
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: release version 3.7.0
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

ci: fix macOS codesigning
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

ci: fix macOS codesigning (#3408)
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

bump date
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow

chat: release version 3.7.0 (#3407)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

metadata: fix typo
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: bump version to v3.7.1-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

[Jinja] Fix typo in Phi-3.1-mini-128k-instruct replacement template
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

cmake: do not modify gpt4all.app after signing it
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Fix regression while using localdocs with server API.
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Update changelog and remove unnecessary comment.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Fix regression while using localdocs with server API. (#3410)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Don't show system messages in server chat view.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

Add changelog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Server view fix (#3411)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

Update to Qt 6.8.1 (#3386)
  .circleci/continue_config.yml
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

cmake: do not modify gpt4all.app after signing it (#3413)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

Revert "cmake: do not modify gpt4all.app after signing it (#3413)"
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

cmake: fix PDFium install
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

cmake: do not modify gpt4all.app after signing it (#3417)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

codeinterpreter: permit console.log with single string arg
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

handle zero-arg case explicitly
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

codeinterpreter: permit console.log with single string arg (#3426)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

ci: cleanup and tweaks
  .circleci/continue_config.yml
Due: run-all-workflows

ci: require manual approval to sign builds
  .circleci/continue_config.yml
Due: run-all-workflows

ci: allow online installers to be manually built on any branch
  .circleci/continue_config.yml
Due: run-all-workflows

ci: automatically build and sign when pushing a 'v*' tag to main
  .circleci/continue_config.yml
Due: run-all-workflows

ci: make tag name check stricter
  .circleci/continue_config.yml
Due: run-all-workflows

chatllm: implement regex_replace filter
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

jinja_replacements: add fixed template for DeepSeek R1 Qwen 7B
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

[Jinja] Fix typo in Phi-3.1-mini-128k-instruct replacement template (#3412)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

ci: selective signing and automatic release builds (#3430)
  .circleci/continue_config.yml
Due: run-all-workflows

ci: verify that installers we build function and are signed
  .circleci/continue_config.yml
Due: run-all-workflows

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
