Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-bindings/csharp/.* run-csharp-workflow true
            gpt4all-backend/.* run-chat-workflow true
            gpt4all-chat/.* run-chat-workflow true
            .* run-default-workflow true

qml: further increase min width with Large text
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

simpler build from source
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/package.json
Due: run-ts-workflow, run-default-workflow

remove outdated comments
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
Due: run-ts-workflow, run-default-workflow

update unix build script to create .so runtimes correctly
  gpt4all-bindings/typescript/scripts/build_unix.sh
Due: run-ts-workflow, run-default-workflow

configure ci build type, use RelWithDebInfo for dev build script
  gpt4all-bindings/typescript/scripts/build_unix.sh
Due: run-ts-workflow, run-default-workflow

add clean script
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/yarn.lock
Due: run-ts-workflow, run-default-workflow

remove deprecated nCtx
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

fix streamed token decoding / emoji
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/spec/emoji.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

update typings
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

update deps, remove the need for binding.ci.gyp, make node-gyp-build fallback easier testable
  .circleci/continue_config.yml
  gpt4all-bindings/typescript/.gitignore
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/scripts/assert-backend-sources.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-all-workflows, run-ts-workflow, run-default-workflow

convert llmodel example into a test, separate test suite that can run in ci
  .circleci/continue_config.yml
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/test/bindings.test.js
  gpt4all-bindings/typescript/test/ci.test.js
Due: run-all-workflows, run-ts-workflow, run-default-workflow

build correctly on windows (regression on node-gyp-build)
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/yarn.lock
Due: run-ts-workflow, run-default-workflow

update examples / naming
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/context-large.mjs
  gpt4all-bindings/typescript/spec/context-recalc.mjs
  gpt4all-bindings/typescript/spec/token-callbacks.mjs
  gpt4all-bindings/typescript/spec/token-streaming-emoji.mjs
  gpt4all-bindings/typescript/spec/token-streaming.mjs
Due: run-ts-workflow, run-default-workflow

cuda/backend logic changes + name napi methods like their js counterparts
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

readme,mspell
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

make sure dlhandle.cpp gets linked correctly
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/scripts/assert-backend-sources.js
Due: run-ts-workflow, run-default-workflow

make sure the assert-backend-sources.js script is published, but not the others
  gpt4all-bindings/typescript/.npmignore
Due: run-ts-workflow, run-default-workflow

codespell
  gpt4all-bindings/typescript/test/bindings.test.js
Due: run-ts-workflow, run-default-workflow

Italian localization update
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow, run-default-workflow

change link on homepage
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

Proposed modification to the prompt method.
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatapi.h
Due: run-chat-workflow, run-default-workflow

repo: use the new GPT4All website URL
  README.md
  gpt4all-bindings/python/docs/gpt4all_help/troubleshooting.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/README.md
  gpt4all-chat/cmake/Modules/SignWindowsBinaries.cmake
  gpt4all-chat/flatpak-manifest/io.gpt4all.gpt4all.appdata.xml
  gpt4all-chat/qml/HomeView.qml
Due: run-python-workflow, run-chat-workflow, run-default-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

fix typo
  gpt4all-bindings/python/docs/gpt4all_help/troubleshooting.md
Due: run-python-workflow, run-default-workflow

repo: use the new GPT4All website URL (#2915)
  README.md
  gpt4all-bindings/python/docs/gpt4all_help/troubleshooting.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/README.md
  gpt4all-chat/cmake/Modules/SignWindowsBinaries.cmake
  gpt4all-chat/flatpak-manifest/io.gpt4all.gpt4all.appdata.xml
  gpt4all-chat/qml/HomeView.qml
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Update gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_en_US.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_zh_TW.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow, run-default-workflow

Update ModelSettings.qml
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

Update CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

translations: run lupdate
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow, run-default-workflow

chat: fix typo "predicatable" (#2916)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow, run-default-workflow

cmake: set GENERATED property in the right subdirectory
  gpt4all-backend/llama.cpp.cmake
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Changelog update for the Italian localization
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow
