Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

ci: fix scheduled workflow jobs
  .circleci/continue_config.yml
Due: run-all-workflows

do not assert that network requests have a valid status code
  gpt4all-chat/src/embllm.cpp
  gpt4all-chat/src/network.cpp
Due: run-chat-workflow

guard logger QFile access with a mutex
  gpt4all-chat/src/logger.cpp
  gpt4all-chat/src/logger.h
Due: run-chat-workflow

embllm: stop embdding loop on exit
  gpt4all-chat/src/embllm.cpp
Due: run-chat-workflow

Fix spacing issues with deepseek models:
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Add changelog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Misc fixes for undefined behavior, crashes, and build failure (#3465)
  gpt4all-backend/src/llmodel.cpp
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/database.h
  gpt4all-chat/src/embllm.cpp
  gpt4all-chat/src/logger.cpp
  gpt4all-chat/src/logger.h
  gpt4all-chat/src/network.cpp
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-all-workflows, run-chat-workflow

Changes.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Fix spacing issues with deepseek models: (#3470)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Add replacement jinjas for OLMoE-1B-7B-0924-Instruct and granite-3.1-8b-instruct
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Fix comments.
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Remove \n\n from controls and try other original
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Try original with "
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Go back to out of the box jinja for granite
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Try escaping single quote in system prompt
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Try adding granite out of the box via local QT
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Add Changelog
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

maintainers: remove extra bracket
  MAINTAINERS.md
Due: none

tweak changelog entry and further simplify templates
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

add template replacement for OLMoE-1B-7B-0125
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Add Granite arch to model and kompute whitelist
  gpt4all-backend/src/llamamodel.cpp
Due: run-all-workflows

fix order, kompute whitelist, changelog entry,
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

Add Granite arch to model whitelist (#3487)
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

changelog: add credit to ThiloteE
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

remove extra whitespace from replacements
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Add replacement templates for OLMoE and granite-3.1 (#3471)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

translations: run lupdate
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

translations: run lupdate -no-obsolete on Simplified Chinese
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

WIP: gpt4all backend stub
  .gitmodules
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/README.md
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/include/gpt4all-backend/sysinfo.h
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/src/CMakeLists.txt
  gpt4all-backend/src/dlhandle.cpp
  gpt4all-backend/src/dlhandle.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel.cpp
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-backend/src/main.cpp
  gpt4all-backend/src/main.cppm
  gpt4all-backend/src/utils.h
Due: run-all-workflows

ci: use LLVM Clang on macOS
  .circleci/continue_config.yml
Due: run-all-workflows

use system ranlib to fix universal build
  .circleci/continue_config.yml
Due: run-all-workflows

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Italian localization update
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

chat: require Qt 6.8
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

backend: build with CUDA compute 5.0 support by default
  gpt4all-backend/CMakeLists.txt
Due: run-all-workflows

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

ci: reduce macOS code duplication
  .circleci/continue_config.yml
Due: run-all-workflows

ci: reduce Linux code duplication
  .circleci/continue_config.yml
Due: run-all-workflows
