Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-bindings/csharp/.* run-csharp-workflow true
            gpt4all-backend/.* run-chat-workflow true
            gpt4all-chat/.* run-chat-workflow true
            .* run-default-workflow true

models.json: fix Mistral OpenOrca filename
  gpt4all-chat/metadata/models2.json
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Fix crash with chatgpt and gpu layers.
  gpt4all-chat/modellist.cpp
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

fix some compilation warnings on macOS
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

models: new MPT model file without duplicated token_embd.weight
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

FreeBSD maintenancetool
  gpt4all-chat/llm.cpp
Due: run-chat-workflow, run-default-workflow

getSystemTotalRAM for FreeBSD
  gpt4all-backend/sysinfo.h
Due: run-chat-workflow, run-default-workflow

modellist: fix bad copy-paste in ModelList::clone
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

prompt: add blank line in Alpaca templates
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/modellist.h
Due: run-python-workflow, run-chat-workflow, run-default-workflow

ci: update QtIFW dep to 4.7 because 4.6 is gone
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: update Qt cache key
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Expose MIN_P
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/main.qml
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/server.cpp
Due: run-chat-workflow, run-default-workflow

Disable minp by default.
  gpt4all-chat/modellist.h
  gpt4all-chat/server.cpp
Due: run-chat-workflow, run-default-workflow

Expose min_p in the bindings.
  gpt4all-bindings/cli/app.py
  gpt4all-bindings/csharp/Gpt4All/Bindings/LLPromptContext.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/NativeMethods.cs
  gpt4all-bindings/csharp/Gpt4All/Extensions/LLPromptContextExtensions.cs
  gpt4all-bindings/csharp/Gpt4All/Extensions/PredictRequestOptionsExtensions.cs
  gpt4all-bindings/csharp/Gpt4All/Prediction/PredictRequestOptions.cs
  gpt4all-bindings/golang/binding.cpp
  gpt4all-bindings/golang/binding.h
  gpt4all-bindings/golang/gpt4all.go
  gpt4all-bindings/golang/options.go
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModel.java
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModelLibrary.java
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/typescript/index.cc
Due: run-python-workflow, run-ts-workflow, run-csharp-workflow, run-default-workflow

requested changes
  gpt4all-bindings/typescript/index.cc
Due: run-ts-workflow, run-default-workflow

prompt: add a blank line after the default system prompt
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

Fix miscellaneous errors.
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModel.java
Due: run-chat-workflow, run-default-workflow

ci: separate bindings build holds from publish holds
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

python: fix mistakes from PR #1970
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

bindings: set VULKAN_SDK so Vulkan is found on Windows
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Update gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

typescript: async generator and token stream (#1897)
  .circleci/continue_config.yml
  gpt4all-bindings/python/docs/gpt4all_nodejs.md
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/spec/generator.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-all-workflows, run-python-workflow, run-ts-workflow, run-default-workflow

add min_p sampling parameter (#2014)
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/cli/app.py
  gpt4all-bindings/csharp/Gpt4All/Bindings/LLPromptContext.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/NativeMethods.cs
  gpt4all-bindings/csharp/Gpt4All/Extensions/LLPromptContextExtensions.cs
  gpt4all-bindings/csharp/Gpt4All/Extensions/PredictRequestOptionsExtensions.cs
  gpt4all-bindings/csharp/Gpt4All/Prediction/PredictRequestOptions.cs
  gpt4all-bindings/golang/binding.cpp
  gpt4all-bindings/golang/binding.h
  gpt4all-bindings/golang/gpt4all.go
  gpt4all-bindings/golang/options.go
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModel.java
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModelLibrary.java
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/typescript/index.cc
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/main.qml
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/server.cpp
Due: run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Add-Nous-Hermes-2-Mistral-7B-DPO.Q4_0.gguf
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Fix crasher with layer count
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Fix another vulnerable spot for crashes.
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Update gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

ci: fix chat installer build by updating QtIFW dependency (#2015)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

bert: fix layer norm epsilon value (#1946)
  gpt4all-backend/bert.cpp
Due: run-chat-workflow, run-default-workflow

modellist: fix bad copy-paste in ModelList::clone (#2011)
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: default to a blank line between reply and next prompt (#1996)
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/modellist.h
Due: run-python-workflow, run-chat-workflow, run-default-workflow

python: fix mistakes from PR #1970 (#2023)
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow
