Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

Update MAINTAINERS.md
  MAINTAINERS.md
Due: none

Update README.md
  README.md
Due: none

updated settings page
  gpt4all-bindings/python/docs/gpt4all_desktop/settings.md
Due: run-python-workflow

Properly report that the computation was timedout to the model via error message.
  gpt4all-chat/src/codeinterpreter.cpp
  gpt4all-chat/src/codeinterpreter.h
Due: run-chat-workflow

updated settings page (#3368)
  gpt4all-bindings/python/docs/gpt4all_desktop/settings.md
Due: run-python-workflow

fix: format of language and locale setting
  gpt4all-bindings/python/docs/gpt4all_desktop/settings.md
Due: run-python-workflow

fix: format of language and locale setting (#3370)
  gpt4all-bindings/python/docs/gpt4all_desktop/settings.md
Due: run-python-workflow

code interpreter: support variadic console.log
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

Add changelog and remove stray comment.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

Properly report that the computation was timedout to the model (#3369)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
  gpt4all-chat/src/codeinterpreter.h
Due: run-chat-workflow

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat templates: work around Jinja2Cpp issue with 'not X is defined'
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

fix changelog formatting
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

fix other instances of a similar pattern
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

code interpreter: support variadic console.log (#3371)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

chat templates: work around Jinja2Cpp issue with 'not X is defined' (#3372)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

jinja2cpp: update submodule for else/endif crash fix (#3373)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Update README.md - brokenlink
  README.md
Due: none

Update README.md - brokenlink (#3380)
  README.md
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Update JP translation
  gpt4all-chat/translations/gpt4all_jp_JP.ts
Due: run-chat-workflow

Update mysettings.cpp
  gpt4all-chat/src/mysettings.cpp
Due: run-chat-workflow

give Windows ARM build the -win64-arm suffix
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

disable QtPdf for Windows ARM build
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/LocalDocsSettings.qml
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

ci: add Windows ARM build
  .circleci/continue_config.yml
Due: run-all-workflows

fix Enter-VsDevShell arguments
  .circleci/continue_config.yml
Due: run-all-workflows

do not attempt to install virtual components directly
  .circleci/continue_config.yml
Due: run-all-workflows

cmake: set toolchain file to fix CMAKE_SYSTEM_PROCESSOR
  .circleci/continue_config.yml
Due: run-all-workflows

cmake: use a different installer repo for ARM build
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

cmake: fix typo
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

database: use PDFium when QtPDF is not available
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/qml/LocalDocsSettings.qml
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/main.cpp
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

cmake: do not build tests by default when cross compiling
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

cmake: actually disable tests for ARM64 build, fix cmake prefix
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

cmake: don't copy-paste the tag name
  gpt4all-chat/deps/CMakeLists.txt
Due: run-chat-workflow

appease codespell
  gpt4all-chat/src/database.cpp
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
