Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

Get rid of dead code.
  gpt4all-chat/qml/AddGPT4AllModelView.qml
Due: run-chat-workflow

Add changelog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Add a symbolic link to our actual docs for the gpt4all-chat app.
  gpt4all-chat/docs
Due: run-chat-workflow

Start PR for known working chat templates.
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

add descriptions to the pages and make room
  gpt4all-chat/qml/AddGPT4AllModelView.qml
  gpt4all-chat/qml/AddHFModelView.qml
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/MyTabButton.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow

clarify changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: cut v3.5.2 release
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

run lupdate
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

qml: fix untranslated strings
  gpt4all-chat/qml/StartupDialog.qml
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

StartupDialog: fix two untranslated strings (#3293)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/StartupDialog.qml
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

Add chat template for Google/gemma-2-9b-it-GGUF
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

Add chat template for Qwen/Qwen2-1.5B-Instruct
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

Romanian translation updates (incomplete)
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

2024.12.13: Update gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

2024.12.13 - translation: Update gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

2024.12.13 - translation: Update gpt4all_ro_RO.ts (#3295)
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

update Italian translation
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

Break the explore models view into two. (#3269)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/AddGPT4AllModelView.qml
  gpt4all-chat/qml/AddHFModelView.qml
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/MyTabButton.qml
  gpt4all-chat/qml/Theme.qml
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

chat: cut v3.5.2 release (#3292)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

fix chatmodel.h #includes
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/server.h
Due: run-chat-workflow

ci: attempt to fix Ubuntu build
  .circleci/continue_config.yml
Due: run-all-workflows

chat: release version 3.5.2
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Add trimming whitespace to Qwen2-1.5b-Instruct and Gemma-2-9b-it
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

Remove superflous space in Gemma-2-9b-it
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

fix typo
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: release version 3.5.2 (#3296)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

2024.12.14 - translation - Update gpt4all_de_DE.ts
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow

Update gpt4all-chat/translations/gpt4all_de_DE.ts
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow
