Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

mixpanel: report default_device and default_device_mem on model_load
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

mixpanel: also report heap size of requested device
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: add missing #includes
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

mixpanel: improved GPU device statistics (plus GPU sort order fix) (#2297)
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

localdocs: load model before checking which model is loaded (#2284)
  gpt4all-chat/embllm.cpp
Due: run-chat-workflow, run-default-workflow

mixpanel: report cpu_supports_avx2 on startup
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-chat/network.cpp
Due: run-chat-workflow, run-default-workflow

mixpanel: report cpu_supports_avx2 on startup (#2299)
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-chat/network.cpp
Due: run-chat-workflow, run-default-workflow

chat: add release notes for v2.7.5 and bump version
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Update README.md
  README.md
Due: run-default-workflow

Update README.md (#2301)
  README.md
Due: run-default-workflow

chat: add release notes for v2.7.5 and bump version (#2300)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Update appdata.xml
  gpt4all-chat/flatpak-manifest/io.gpt4all.gpt4all.appdata.xml
Due: run-chat-workflow, run-default-workflow

readme: cleanup and modernization
  README.md
Due: run-default-workflow

readme: cleanup and modernization (#2308)
  README.md
Due: run-default-workflow

backend: make CUDA build useful
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.cpp
Due: run-chat-workflow, run-default-workflow

chat: implement basic UI backend selection
  gpt4all-backend/llmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

backend: initial port to Occam's Vulkan backend
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/llamamodel.cpp
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

llamamodel: remove dependency on internal llama_token_to_piece
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

backend: add option to build ROCm backend
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

vulkan: improve the implementation
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
Due: run-chat-workflow, run-default-workflow

llmodel: list GPU devices from all backends
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
Due: run-chat-workflow, run-default-workflow

llmodel: add a backend field to LLModel::GPUDevice
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

cuda: implement device enumeration
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

backend: also build CUDA backend by default
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

python: implement selectable GPU backend
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

llmodel: select a backend, not a build variant
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
Due: run-chat-workflow, run-default-workflow

backend: bring more upstream changes into llama.cpp.cmake
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

cmake: don't build CPU variant on Linux/Windows
  gpt4all-backend/CMakeLists.txt
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

maint: remove Docker API server and related references
  README.md
  gpt4all-api/.gitignore
  gpt4all-api/.isort.cfg
  gpt4all-api/LICENSE
  gpt4all-api/README.md
  gpt4all-api/docker-compose.gpu.yaml
  gpt4all-api/docker-compose.yaml
  gpt4all-api/gpt4all_api/Dockerfile.buildkit
  gpt4all-api/gpt4all_api/README.md
  gpt4all-api/gpt4all_api/app/api_v1/api.py
  gpt4all-api/gpt4all_api/app/api_v1/events.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/completions.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/embeddings.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/engines.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/health.py
  gpt4all-api/gpt4all_api/app/api_v1/settings.py
  gpt4all-api/gpt4all_api/app/docs.py
  gpt4all-api/gpt4all_api/app/main.py
  gpt4all-api/gpt4all_api/app/tests/test_endpoints.py
  gpt4all-api/gpt4all_api/env
  gpt4all-api/gpt4all_api/models/README.md
  gpt4all-api/gpt4all_api/requirements.txt
  gpt4all-api/makefile
  gpt4all-bindings/python/docs/index.md
  gpt4all-docker/README.md
  monorepo_plan.md
Due: run-python-workflow, run-default-workflow

cmake: set RUNPATH of llamamodel-mainline-cuda correctly
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Update README.md
  gpt4all-bindings/python/README.md
Due: run-python-workflow, run-default-workflow

backend: fix kompute-avxonly build
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

cuda: fix dependency bundling on Windows
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

ci: install CUDA toolkit
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

cuda: ignore libcuda.so.* on Linux
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

ci: install additional deps to make linuxdeployqt happy
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

cmake: do not ship static llama library
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

llama.cpp: do not install kompute or fmt
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

cmake: let linuxdeployqt handle CUDA deps on Linux
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-linux.cmake.in
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
