Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

ci: use clang 19 on Ubuntu
  .circleci/continue_config.yml
Due: run-all-workflows

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

ci: add back libstdc++-12-dev explicitly
  .circleci/continue_config.yml
Due: run-all-workflows

Italian localization update (#3496)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

ci: also build Python binding with compute 5.0 support
  .circleci/continue_config.yml
Due: run-all-workflows

ci: use LLVM Clang 19 on macOS and Ubuntu (#3500)
  .circleci/continue_config.yml
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

WIP: backend dependencies
  .gitmodules
  deps/CMakeLists.txt
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/deps/CMakeLists.txt
  gpt4all-backend/src/CMakeLists.txt
  gpt4all-backend/src/main.cpp
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

enable color diagnostics with ninja
  common/common.cmake
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/src/CMakeLists.txt
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

WIP: working fmt dep
  deps/CMakeLists.txt
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/deps/CMakeLists.txt
  gpt4all-backend/src/main.cpp
Due: run-all-workflows

Add unfinished Chinese translation and optimize
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

backend: build with CUDA compute 5.0 support by default (#3499)
  .circleci/continue_config.yml
  gpt4all-backend/CMakeLists.txt
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

Add new remote model provider view.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/groq.svg
  gpt4all-chat/icons/mistral.svg
  gpt4all-chat/icons/openai.svg
  gpt4all-chat/qml/AddGPT4AllModelView.qml
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/AddRemoteModelView.qml
  gpt4all-chat/qml/RemoteModelCard.qml
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

Add changelog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

ollama-hpp immediately segfaulted. will try something else
  gpt4all-backend-test/CMakeLists.txt
  gpt4all-backend-test/src/CMakeLists.txt
  gpt4all-backend-test/src/config.cppm.in
  gpt4all-backend-test/src/main.cpp
  gpt4all-backend/src/main.cpp
  gpt4all-backend/src/main.cppm
Due: run-all-workflows

Translation: Add unfinished Chinese translation and optimize
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

Update gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Use a fixed minimum height to ensure the top three model cards have the same height.
  gpt4all-chat/qml/AddRemoteModelView.qml
  gpt4all-chat/qml/RemoteModelCard.qml
Due: run-chat-workflow

WIP
  .gitmodules
  deps/CMakeLists.txt
  gpt4all-backend-old/CMakeLists.txt
  gpt4all-backend-old/README.md
  gpt4all-backend-old/include/gpt4all-backend/llmodel.h
  gpt4all-backend-old/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend-old/include/gpt4all-backend/sysinfo.h
  gpt4all-backend-old/llama.cpp.cmake
  gpt4all-backend-old/src/dlhandle.cpp
  gpt4all-backend-old/src/dlhandle.h
  gpt4all-backend-old/src/llamamodel.cpp
  gpt4all-backend-old/src/llamamodel_impl.h
  gpt4all-backend-old/src/llmodel.cpp
  gpt4all-backend-old/src/llmodel_c.cpp
  gpt4all-backend-old/src/llmodel_shared.cpp
  gpt4all-backend-old/src/utils.h
  gpt4all-backend-test/src/config.cppm.in
  gpt4all-backend-test/src/main.cpp
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/deps/CMakeLists.txt
  gpt4all-backend/src/CMakeLists.txt
  gpt4all-backend/src/main.cpp
  gpt4all-backend/src/main.cppm
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

WIP
  .gitmodules
  gpt4all-backend-test/src/main.cpp
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/jinja_helpers.cpp
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/utils.h
Due: run-chat-workflow

WIP: bring back old backend so we can test the gpt4all-chat build
  .gitmodules
  deps/CMakeLists.txt
  gpt4all-backend-old/CMakeLists.txt
  gpt4all-backend-old/README.md
  gpt4all-backend-old/include/gpt4all-backend/llmodel.h
  gpt4all-backend-old/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend-old/include/gpt4all-backend/sysinfo.h
  gpt4all-backend-old/llama.cpp.cmake
  gpt4all-backend-old/src/dlhandle.cpp
  gpt4all-backend-old/src/dlhandle.h
  gpt4all-backend-old/src/llamamodel.cpp
  gpt4all-backend-old/src/llamamodel_impl.h
  gpt4all-backend-old/src/llmodel.cpp
  gpt4all-backend-old/src/llmodel_c.cpp
  gpt4all-backend-old/src/llmodel_shared.cpp
  gpt4all-backend-old/src/utils.h
  gpt4all-backend-test/src/config.cppm.in
  gpt4all-backend-test/src/main.cpp
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/deps/CMakeLists.txt
  gpt4all-backend/src/CMakeLists.txt
  gpt4all-backend/src/main.cpp
  gpt4all-backend/src/main.cppm
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

WIP: fix import order and enable module scanning
  gpt4all-backend-test/src/main.cpp
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/jinja_helpers.cpp
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/utils.h
Due: run-chat-workflow

WIP: fork fmt to fix missing string_view support
  .gitmodules
Due: none

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Translations: Improve Chinese translation (#3467)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

Add whitelist of openai models.
  gpt4all-chat/qml/AddRemoteModelView.qml
  gpt4all-chat/qml/RemoteModelCard.qml
Due: run-chat-workflow

fix typo
  gpt4all-chat/qml/AddModelView.qml
Due: run-chat-workflow

improve UI layout
  gpt4all-chat/qml/AddRemoteModelView.qml
  gpt4all-chat/qml/RemoteModelCard.qml
Due: run-chat-workflow

add scrolling to standard MyComboBox to prevent Mistral clipping
  gpt4all-chat/qml/MyComboBox.qml
Due: run-chat-workflow

add whitelists for Groq and Mistral
  gpt4all-chat/qml/AddRemoteModelView.qml
  gpt4all-chat/qml/RemoteModelCard.qml
Due: run-chat-workflow

modellist: remove redundant `!isCompatibleApi` check
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

chat: cut v3.10.0 release
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Add new remote model provider view. (#3506)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/groq.svg
  gpt4all-chat/icons/mistral.svg
  gpt4all-chat/icons/openai.svg
  gpt4all-chat/qml/AddGPT4AllModelView.qml
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/AddRemoteModelView.qml
  gpt4all-chat/qml/MyComboBox.qml
  gpt4all-chat/qml/RemoteModelCard.qml
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

run lupdate
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

update English translation
  gpt4all-chat/translations/gpt4all_en_US.ts
Due: run-chat-workflow

fill in tab name for Italian and Simplified Chinese
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
