Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Add radius to selected menu items, adust width to fit. Update colors.
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MyComboBox.qml
  gpt4all-chat/qml/MyMenu.qml
  gpt4all-chat/qml/MyMenuItem.qml
  gpt4all-chat/qml/SettingsView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Cleanup comments, suggest removal of unused colors.
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Cleanup my chatview comments.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Fix server text color in chatview.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

updates
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-google-drive.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Create googledrive.md (#2621)
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-google-drive.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

typo
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-google-drive.md
Due: run-python-workflow, run-default-workflow

typo (#2629)
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-google-drive.md
Due: run-python-workflow, run-default-workflow

formatted note callouts
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-google-drive.md
Due: run-python-workflow, run-default-workflow

New Feature: Generate suggested follow-up questions.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/icons/plus.svg
  gpt4all-chat/icons/stack.svg
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

formatted note callouts (#2633)
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-google-drive.md
Due: run-python-workflow, run-default-workflow

Update theme for menus (#2578)
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MyComboBox.qml
  gpt4all-chat/qml/MyMenu.qml
  gpt4all-chat/qml/MyMenuItem.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Try uploading the repository as a tarball.
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Create using-local-ai-models-to-privately-chat-with-One-Drive.md
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/using-local-ai-models-to-privately-chat-with-One-Drive.md
Due: run-python-workflow, run-default-workflow

Update mkdocs.yml
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Try using CUDA 11.8 for all Circle CI builds.
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Try and add windows and macos compression of repository as well.
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Fix
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

mysettings: use C++11 'enum class' for readability
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
Due: run-chat-workflow, run-default-workflow

chatllm: warn when skipping name generation, cleanup
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: simplify and document handleQuestionResponse
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
Due: run-chat-workflow, run-default-workflow

Fix copy path.
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Fixup based on review.
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/modellist.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

ChatView: move stop button to chat input box (#2561)
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

ci: downgrade CUDA dep to 11.8 for compatibility (#2639)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: compress and store in upload folder in one step
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

chat: generate follow-up questions after response (#2634)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/icons/plus.svg
  gpt4all-chat/icons/stack.svg
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

ci: upload installer repo as compressed archive (#2636)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

analytics entry
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

analytics entry (#2641)
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Fix for issue #2609. Provide case insensitive matching of localdocs file extensions.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Add ability to click on links in latest news.
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

Fix for issue #2609.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Add ability to click on links in latest news. (#2643)
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

Create contributing_translations.md
  gpt4all-chat/contributing_translations.md
Due: run-chat-workflow, run-default-workflow

fixed filename typo
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-One-Drive.md
Due: run-python-workflow, run-default-workflow

Create using-local-ai-models-to-privately-chat-with-One-Drive.md (#2637)
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-One-Drive.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
