Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Add themeable code syntax highlighting.
  gpt4all-chat/chatviewtextprocessor.cpp
  gpt4all-chat/chatviewtextprocessor.h
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Adjust the size of the new conversation tray to enlarge a bit.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Latest rc5 fixes (#2492)
  gpt4all-chat/chatviewtextprocessor.cpp
  gpt4all-chat/chatviewtextprocessor.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Fix for reload button hovering and size of combobox if model with large name is selected.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Fix for reload button hovering and size of combobox if model with large name is selected. (#2493)
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Add documentation link to HomeView.qml (#2486)
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

Fix response generation which was broken by themeable syntax highlighting.
  gpt4all-chat/chatmodel.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Fix response generation which was broken by themeable syntax highlighting. (#2494)
  gpt4all-chat/chatmodel.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

This bottom padding while doing text generation is no longer necessary with the tray.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

This bottom padding while doing text generation is no longer necessary with the tray. (#2495)
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Test update of the latest news.
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

Remove the link as it does not work yet.
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

Add a new transparent version of our icon and display it on homepage.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/gpt4all_transparent.svg
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

Change the wording slightly
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

This is unnecessary and was a mistake to include.
  gpt4all-chat/chatviewtextprocessor.cpp
Due: run-chat-workflow, run-default-workflow

This is unnecessary and was a mistake to include. (#2496)
  gpt4all-chat/chatviewtextprocessor.cpp
Due: run-chat-workflow, run-default-workflow

Bump version to rc5.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

backend: fix a crash on inputs greater than n_ctx
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_shared.cpp
Due: run-chat-workflow, run-default-workflow

backend: fix a crash on inputs greater than n_ctx (#2498)
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_shared.cpp
Due: run-chat-workflow, run-default-workflow

new skeleton
  gpt4all-bindings/python/docs/desktop/desktop_home.md
  gpt4all-bindings/python/docs/desktop/desktop_install.md
  gpt4all-bindings/python/docs/desktop/desktop_localdocs.md
  gpt4all-bindings/python/docs/desktop/desktop_tour.md
  gpt4all-bindings/python/docs/help/help_faq.md
  gpt4all-bindings/python/docs/help/help_troubleshooting.md
  gpt4all-bindings/python/docs/index.md
  gpt4all-bindings/python/docs/old/gpt4all_chat.md
  gpt4all-bindings/python/docs/old/gpt4all_cli.md
  gpt4all-bindings/python/docs/old/gpt4all_faq.md
  gpt4all-bindings/python/docs/old/gpt4all_monitoring.md
  gpt4all-bindings/python/docs/old/gpt4all_nodejs.md
  gpt4all-bindings/python/docs/old/gpt4all_python.md
  gpt4all-bindings/python/docs/old/gpt4all_python_embedding.md
  gpt4all-bindings/python/docs/old/index.md
  gpt4all-bindings/python/docs/python/python_home.md
  gpt4all-bindings/python/docs/python/python_monitoring.md
  gpt4all-bindings/python/docs/python/python_rag.md
  gpt4all-bindings/python/docs/python/python_ref.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

markdown captions
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

markdown captions (#2499)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

mkdocs imaging requirements
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

mkdocs imaging requirements (#2500)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Fix the erase search button to use the new icon.
  gpt4all-chat/qml/AddModelView.qml
Due: run-chat-workflow, run-default-workflow

Fix the erase search button to use the new icon. (#2501)
  gpt4all-chat/qml/AddModelView.qml
Due: run-chat-workflow, run-default-workflow

update description and site copyright to 2024
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

add docs to docs site description
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

docs: bump copyright year and change site_description (#2502)
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

ChatView: remove last use of alt_logo.svg
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/alt_logo.svg
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: adjust sizing of GPT4All/You icons, fix blurriness
  gpt4all-chat/icons/gpt4all_transparent.svg
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

ChatView: center the you/gpt4all icons
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

ChatView: right-align the icons
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: remove alt_logo.svg, tweak You/GPT4All icons (#2503)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/alt_logo.svg
  gpt4all-chat/icons/gpt4all_transparent.svg
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow, run-default-workflow

Bump the version to v3.0.0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Add initial template windows signing flow
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/Modules/SignMacOSBinaries.cmake
  gpt4all-chat/cmake/Modules/SignWindowsBinaries.cmake
Due: run-all-workflows, run-chat-workflow, run-default-workflow

Add initial template windows signing flow (#2443)
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/Modules/SignMacOSBinaries.cmake
  gpt4all-chat/cmake/Modules/SignWindowsBinaries.cmake
Due: run-all-workflows, run-chat-workflow, run-default-workflow

ChatDrawer: remove the Row grouping edit/delete
  gpt4all-chat/qml/ChatDrawer.qml
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
