Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

refactor(translations/gpt4all_zh_TW.ts): add note for MaintenanceTool
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow, run-default-workflow

Create MAINTAINERS.md
  MAINTAINERS.md
Due: run-default-workflow

Update MAINTAINERS.md
  MAINTAINERS.md
Due: run-default-workflow

Fix application default for model to work with translations.
  gpt4all-chat/modellist.cpp
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

load model library when using pyinstaller to build executable file in windows Signed-off-by: nathan <nathan@appflowy.io>
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

Fix the rest of the hardcoded setting strings to allow translations.
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

fix(translations/gpt4all_zh_TW.ts): typos
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow, run-default-workflow

revert the last two commits
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

main: set llmodel search path before initializing MySettings
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

maintainers: fix formatting and add jacoobes
  MAINTAINERS.md
Due: run-default-workflow

mysettings: simplify enum usage and be consistent
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

maintainers: fix formatting and add jacoobes (#2678)
  MAINTAINERS.md
Due: run-default-workflow

main: set llmodel search path before initializing MySettings (#2677)
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

Improve LocalDocs view's error message
  gpt4all-chat/database.cpp
  gpt4all-chat/qml/LocalDocsView.qml
Due: run-chat-workflow, run-default-workflow

settings: use enums for ChatTheme/FontSize, translate choices (#2667)
  gpt4all-chat/main.cpp
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/MyButton.qml
  gpt4all-chat/qml/Theme.qml
  gpt4all-chat/translations/gpt4all_en.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow, run-default-workflow

localdocs: fail fast on bad path, more detailed 'invalid' error (#2679)
  gpt4all-chat/database.cpp
  gpt4all-chat/qml/LocalDocsView.qml
Due: run-chat-workflow, run-default-workflow

feat: add openai-compatible for chat
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/modellist.cpp
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/ModelsView.qml
Due: run-chat-workflow, run-default-workflow

Add el_GR.ts and el_CY.ts
  gpt4all-chat/translations/gpt4all_el_CY.ts
  gpt4all-chat/translations/gpt4all_el_GR.ts
Due: run-chat-workflow, run-default-workflow

fix typos and Signed-off
  gpt4all-chat/translations/gpt4all_el_CY.ts
  gpt4all-chat/translations/gpt4all_el_GR.ts
Due: run-chat-workflow, run-default-workflow

Remove support for GPT-J models.
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/gptj.cpp
  gpt4all-backend/gptj_impl.h
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chat.cpp
  gpt4all-chat/chatlistmodel.cpp
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
Due: run-chat-workflow, run-default-workflow

feat: check base url is valid or not
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/network.cpp
  gpt4all-chat/network.h
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/ModelsView.qml
Due: run-chat-workflow, run-default-workflow

Case insensitive compare that pairs with issue #2609 and previous commit 9e4991aced0571eb8db1fc07dfb7a5000932ed33 that allowed case insensitive matches of file extensions.
  gpt4all-chat/database.h
Due: run-chat-workflow, run-default-workflow

feat: multiple api-compatible models
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/modellist.cpp
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/ModelsView.qml
Due: run-chat-workflow, run-default-workflow

llmodel: fix regex
  gpt4all-backend/llmodel.cpp
Due: run-chat-workflow, run-default-workflow

feat: display info of api-compatible models
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

backend: remove obsolete conversion scripts
  gpt4all-backend/scripts/convert_bert_hf_to_gguf.py
  gpt4all-backend/scripts/convert_gptj_to_gguf.py
Due: run-chat-workflow, run-default-workflow

ci: update deprecated Windows Server 2022 image
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: remove unused nuget-hold
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

maintainers: add jstayco
  MAINTAINERS.md
Due: run-default-workflow

Remove support for GPT-J models. (#2676)
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/gptj.cpp
  gpt4all-backend/gptj_impl.h
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/scripts/convert_bert_hf_to_gguf.py
  gpt4all-backend/scripts/convert_gptj_to_gguf.py
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chat.cpp
  gpt4all-chat/chatlistmodel.cpp
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
Due: run-chat-workflow, run-default-workflow

Case insensitive compare that pairs with issue #2609 and previous commit (#2684)
  gpt4all-chat/database.h
Due: run-chat-workflow, run-default-workflow

maintainers: add jstayco (#2686)
  MAINTAINERS.md
Due: run-default-workflow

Fix the user default model to allow for translation.
  gpt4all-chat/modellist.cpp
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

fixed link to embeddings docs on localdocs page
  gpt4all-bindings/python/docs/gpt4all_desktop/localdocs.md
Due: run-python-workflow, run-default-workflow

fixed link to embeddings docs on localdocs page (#2687)
  gpt4all-bindings/python/docs/gpt4all_desktop/localdocs.md
Due: run-python-workflow, run-default-workflow

Add basic GHA jobs
  .github/workflows/codespell.yml
  .github/workflows/gpt4all.yml
Due: run-default-workflow

Add ignored file
  .github/workflows/build-chat.yml
Due: run-default-workflow

Fix the device setting to allow for translation.
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

feat: add name for api-compatible models
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
