Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Update ChatView.qml
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Fix to set proper app icon on MacOS.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Changes to the UI and icons.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/chat.svg
  gpt4all-chat/icons/db.svg
  gpt4all-chat/icons/edit.svg
  gpt4all-chat/icons/info.svg
  gpt4all-chat/icons/local-docs.svg
  gpt4all-chat/icons/models.svg
  gpt4all-chat/icons/settings.svg
  gpt4all-chat/icons/trash.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelDownloaderDialog.qml
  gpt4all-chat/qml/MyToolButton.qml
  gpt4all-chat/qml/SettingsDialog.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Rename these to views.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ModelDownloaderView.qml
  gpt4all-chat/qml/SettingsView.qml
Due: run-chat-workflow, run-default-workflow

Use consistent names for LocalDocs
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

llmodel_c: remove C++ syntax from C header
  gpt4all-backend/llmodel_c.h
Due: run-chat-workflow, run-default-workflow

llmodel_c: fix memory leak in llmodel_available_gpu_devices
  gpt4all-backend/llmodel_c.cpp
Due: run-chat-workflow, run-default-workflow

python: document deprecation of _format_chat_prompt_template
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

llmodel_c: drop model argument from llmodel_available_gpu_devices
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/typescript/index.cc
Due: run-python-workflow, run-ts-workflow, run-chat-workflow, run-default-workflow

python: add list_gpus to the GPT4All API
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: use 'from' import for _pyllmodel types and functions
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: cleanup init_gpu
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python (breaking): make arguments past model_name keyword-only
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: document 'device' parameter of Embed4All
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: reference GPT4All.list_gpus in constructor docstring
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: bump version for GPT4All.list_gpu
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: add list_gpus to the GPT4All API (#2194)
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-bindings/typescript/index.cc
Due: run-python-workflow, run-ts-workflow, run-chat-workflow, run-default-workflow

add comment
  gpt4all-chat/flatpak-manifest/io.gpt4all.gpt4all.appdata.xml
Due: run-chat-workflow, run-default-workflow

add comment2
  gpt4all-chat/flatpak-manifest/io.gpt4all.gpt4all.appdata.xml
Due: run-chat-workflow, run-default-workflow

add comment4
  gpt4all-chat/flatpak-manifest/io.gpt4all.gpt4all.appdata.xml
Due: run-chat-workflow, run-default-workflow

Update README.md
  README.md
Due: run-default-workflow

Update README.md (#2209)
  README.md
Due: run-default-workflow

embed4all: actually submit larger batches with increased n_ctx
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

llamamodel: fix case where llama_tokenize returns no tokens
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

python: bump version
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

embed4all: small fixes related to nomic client local embeddings (#2213)
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

python: implement cancellation callback for nomic client dynamic mode
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/__init__.py
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/typescript/index.cc
Due: run-python-workflow, run-ts-workflow, run-chat-workflow, run-default-workflow

minor fixes
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

llamamodel: less uninitialized values in LLamaPrivate
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

python: remove debug print
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: fix TypeError with cancel_cb=None
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: embedding cancel callback for nomic client dynamic mode (#2214)
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/__init__.py
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-bindings/typescript/index.cc
Due: run-python-workflow, run-ts-workflow, run-chat-workflow, run-default-workflow

llamamodel: fix semantic typo in nomic client dynamic mode
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
