Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

ci: update to Qt 6.8.2 (#3442)
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

ci: add missing signing holds to Windows ARM builds
  .circleci/continue_config.yml
Due: run-all-workflows

ci: allow generate-config to run on tags
  .circleci/config.yml
Due: run-all-workflows

chat: work around Direct3D 11 rendering artifacts on win11 arm (#3450)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/config.h.in
  gpt4all-chat/src/config.h.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

Fix index used by LocalDocs when tool calling/thinking is active (#3451)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

ci: fix missing job_allow_tags
  .circleci/continue_config.yml
Due: run-all-workflows

Revert "minja: update submodule to fix `{#` hang (#3446)"
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: replace Jinja2Cpp with minja (#3433)
  .gitmodules
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/jinja_helpers.cpp
  gpt4all-chat/src/jinja_helpers.h
  gpt4all-chat/src/jinja_helpers.inl
  gpt4all-chat/src/jinja_replacements.cpp
  gpt4all-chat/src/tool.cpp
  gpt4all-chat/src/tool.h
Due: run-chat-workflow

cmake: remove reference to deleted README
  gpt4all-chat/cmake/cpack_config.cmake
Due: run-chat-workflow

Update README.md
  README.md
Due: none

ci: remove conflicting pipeline.git.branch requirement
  .circleci/continue_config.yml
Due: run-all-workflows

minja: update submodule to fix `{#` hang (#3446)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

remove ancient README
  gpt4all-chat/README.md
Due: run-chat-workflow

chat: fix emoji corruption (#3443)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/toolcallparser.cpp
  gpt4all-chat/src/toolcallparser.h
Due: run-chat-workflow

models: add DeepSeek-R1 distillations to official models list (#3437)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

chat: release version 3.8.0 (#3439)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Display DeepSeek-R1 thinking like Reasoner (#3440)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatCollapsibleItem.qml
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/tool.h
  gpt4all-chat/src/toolcallparser.cpp
  gpt4all-chat/src/toolcallparser.h
Due: run-chat-workflow

chat: cut v3.8.0 release (#3441)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Fix rebase conflicts
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow

database: don't call FPDF_DestroyLibrary() early
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Fix PDFium abuse that leads to a crash on Windows ARM (#3460)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

minja: update submodule to fix {# hang (redo) (#3457)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

move comments about kompute support to llama.cpp
  gpt4all-backend/src/llamamodel.cpp
Due: run-all-workflows

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

clarify that Granite (Dense) is not Granite MoE
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Whitelist OLMoE and Granite MoE (#3449)
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

changelog: fix missing credit
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: cut v3.9.0 release
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: cut v3.9.0 release (#3461)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

changelog: fix missing paren
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: release version 3.9.0
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: release version 3.9.0 (#3462)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: bump version to 3.9.1-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

translations: fix duplicate string
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

llmodel: do not crash on nonexistent dir in impl search path
  gpt4all-backend/src/llmodel.cpp
Due: run-all-workflows

database: fix DocumentInfo stack-use-after-return
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/database.h
Due: run-chat-workflow

chatmodel: fix call of setParent from wrong thread
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow
