Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Show scrollbar in CollectionsDrawer as needed (#2691)
  gpt4all-chat/qml/CollectionsDrawer.qml
Due: run-chat-workflow, run-default-workflow

Toast: make license unambiguous
  gpt4all-chat/qml/Toast.qml
  gpt4all-chat/qml/ToastManager.qml
Due: run-chat-workflow, run-default-workflow

changelog: update descriptions
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

changelog: add recently merged PRs
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

Stop using broken 3rd party actions
  .github/workflows/build-chat.yml
Due: run-default-workflow

fix: api-compatible model isn't removed from memory when it removed
  gpt4all-chat/download.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Add caching
  .github/workflows/build-chat.yml
Due: run-default-workflow

Correct Windows shell
  .github/workflows/build-chat.yml
Due: run-default-workflow

Correct fetch-deps useage
  .github/workflows/build-chat.yml
Due: run-default-workflow

llamamodel: always print special tokens
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Fix linux and macos
  .github/workflows/build-chat.yml
Due: run-default-workflow

llamamodel: add DeepSeek-V2 to whitelist
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

fix(chatapi.cpp): error message isn't showing when reply is empty
  gpt4all-chat/chatapi.cpp
Due: run-chat-workflow, run-default-workflow

Translation to pt-BR
  CONTRIBUTING.md
  CONTRIBUTING_pt-BR.md
  MAINTAINERS.md
  README.md
  README_pt-BR.md
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  roadmap.md
Due: run-chat-workflow, run-default-workflow

Update some gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow, run-default-workflow

Update gpt4all_zh_CN.ts, fix some not translated ,to merge
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow, run-default-workflow

proper macos version
  .github/workflows/build-chat.yml
Due: run-default-workflow

test Windows shell
  .github/workflows/build-chat.yml
Due: run-default-workflow

Forced to use macos-latest
  .github/workflows/build-chat.yml
Due: run-default-workflow

try Windows again
  .github/workflows/build-chat.yml
Due: run-default-workflow

docs(modellist.cpp): add comments
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

llamamodel: add DeepSeek-V2 to whitelist (#2702)
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

llamamodel: always print special tokens (#2701)
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

added tutorial and images for it
  gpt4all-bindings/python/docs/assets/obsidian_adding_collection.png
  gpt4all-bindings/python/docs/assets/obsidian_docs.png
  gpt4all-bindings/python/docs/assets/obsidian_response.png
  gpt4all-bindings/python/docs/assets/obsidian_sources.png
  gpt4all-bindings/python/docs/assets/osbsidian_user_interaction.png
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
Due: run-python-workflow, run-default-workflow

updated images
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
Due: run-python-workflow, run-default-workflow

fix link & indent note callouts
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
Due: run-python-workflow, run-default-workflow

added obsidian tutorial to sidebar and fixed formatting of note boxes
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Minor updates
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
Due: run-python-workflow, run-default-workflow

added tutorial and images for it (#2717)
  gpt4all-bindings/python/docs/assets/obsidian_adding_collection.png
  gpt4all-bindings/python/docs/assets/obsidian_docs.png
  gpt4all-bindings/python/docs/assets/obsidian_response.png
  gpt4all-bindings/python/docs/assets/obsidian_sources.png
  gpt4all-bindings/python/docs/assets/osbsidian_user_interaction.png
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-Obsidian.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

Remove markdown translation files and revert README.md changes as requested
  CONTRIBUTING_pt-BR.md
  README_pt-BR.md
Due: run-default-workflow

Replace default model & link to wiki
  gpt4all-bindings/cli/README.md
Due: run-default-workflow

Change the timeout for circle ci and add a fixme.
  .circleci/continue_config.yml
  gpt4all-chat/chatllm.cpp
Due: run-all-workflows, run-chat-workflow, run-default-workflow

Change the timeout for circle ci and add a fixme. (#2722)
  .circleci/continue_config.yml
  gpt4all-chat/chatllm.cpp
Due: run-all-workflows, run-chat-workflow, run-default-workflow

Actually set the chat name and suggested follow-up question prompts.
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

Actually set the chat name and suggested follow-up question prompts. (#2723)
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

Update monitoring.md
  gpt4all-bindings/python/docs/gpt4all_python/monitoring.md
Due: run-python-workflow, run-default-workflow

Change to release v3.1.0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Bump version and release notes for v3.1.0
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Bump version and release notes for v3.1.0 (#2726)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Update latest news.
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
