Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-bindings/csharp/.* run-csharp-workflow true
            gpt4all-backend/.* run-chat-workflow true
            gpt4all-chat/.* run-chat-workflow true
            .* run-default-workflow true

python: fix GPU init by only creating the model impl once
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

backend: make modelLoaded consistent with return value
  gpt4all-backend/bert.cpp
  gpt4all-backend/gptj.cpp
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

python: fix a complaint from mypy
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

Mixtral crash fix and python bindings v2.2.0 (#1931)
  gpt4all-backend/bert.cpp
  gpt4all-backend/gptj.cpp
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/gpt4all/__init__.py
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

models2.json: use ChatML for Mistral OpenOrca
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

change system prompt
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

models2.json: use ChatML for Mistral OpenOrca (#1935)
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

Don't show the download button if we are not connected to an online network.
  gpt4all-chat/llm.cpp
  gpt4all-chat/llm.h
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

database: limit supported extensions to txt, pdf, md, rst
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Fix issue 1925, scrollbar missing on main conversation.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Fix issue 1918 for accessibility of screen readers.
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ChatDrawer.qml
Due: run-chat-workflow, run-default-workflow

chat: set version to 2.7.0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

chat: set version to 2.7.0 (#1940)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

docs: update list of supported localdocs formats
  gpt4all-bindings/python/docs/gpt4all_chat.md
Due: run-python-workflow, run-default-workflow

docs: update list of supported localdocs formats (#1944)
  gpt4all-bindings/python/docs/gpt4all_chat.md
Due: run-python-workflow, run-default-workflow

remove some extra logging since llama takes care of it
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/spec/generator.mjs
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

match name convention
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
Due: run-ts-workflow, run-default-workflow

Bump version and release notes for v2.7.0
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

.net 8
  .circleci/continue_config.yml
  gpt4all-bindings/csharp/Gpt4All.Samples/Gpt4All.Samples.csproj
  gpt4all-bindings/csharp/Gpt4All.Tests/Gpt4All.Tests.csproj
  gpt4all-bindings/csharp/Gpt4All/Gpt4All.csproj
Due: run-all-workflows, run-csharp-workflow, run-default-workflow

.NET 8 for windows
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

bert: fix layer norm epsilon value
  gpt4all-backend/bert.cpp
Due: run-chat-workflow, run-default-workflow

fix trailing whitespace
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

github: new, more flexible issue templates
  .github/ISSUE_TEMPLATE/bindings-bug.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/chat-bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/other-bug.md
  .github/ISSUE_TEMPLATE/other.yml
Due: run-default-workflow

csharp: fix build failure due to warning on macOS
  gpt4all-bindings/csharp/Gpt4All/Model/Gpt4AllModelFactory.cs
Due: run-csharp-workflow, run-default-workflow

csharp: bump version
  gpt4all-bindings/csharp/Directory.Build.props
Due: run-csharp-workflow, run-default-workflow

ci: use a specific .NET SDK version on macOS
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: don't publish unsigned macOS NuGet package, cleanup
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

csharp: fix NuGet package build (#1951)
  .circleci/continue_config.yml
  gpt4all-bindings/csharp/Directory.Build.props
  gpt4all-bindings/csharp/Gpt4All.Samples/Gpt4All.Samples.csproj
  gpt4all-bindings/csharp/Gpt4All.Tests/Gpt4All.Tests.csproj
  gpt4all-bindings/csharp/Gpt4All/Gpt4All.csproj
  gpt4all-bindings/csharp/Gpt4All/Model/Gpt4AllModelFactory.cs
Due: run-all-workflows, run-csharp-workflow, run-default-workflow

csharp: update README to reflect new NuGet package
  gpt4all-bindings/csharp/README.md
Due: run-csharp-workflow, run-default-workflow

python: this was supposed to be an f-string
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

ci: run all workflows when the backend updates
  .circleci/config.yml
Due: run-all-workflows, run-default-workflow

cmake: support -DLLAMA_KOMPUTE=OFF, but require Kompute otherwise
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

ci: simplify creation of build dir
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

backend: complain if availableGPUDevices is called without Kompute
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

ci: fix non-recursive submodule update for python bindings
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

py: bump version to 2.2.1 for Kompute fix
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow
