Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-bindings/csharp/.* run-csharp-workflow true
            gpt4all-backend/.* run-chat-workflow true
            gpt4all-chat/.* run-chat-workflow true
            .* run-default-workflow true

fromat and initialize err
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
Due: run-ts-workflow, run-default-workflow

update examples
  gpt4all-bindings/typescript/README.md
Due: run-ts-workflow, run-default-workflow

fix systemPrompt usage
  gpt4all-bindings/typescript/spec/llmodel.mjs
Due: run-ts-workflow, run-default-workflow

update readme
  gpt4all-bindings/typescript/README.md
Due: run-ts-workflow, run-default-workflow

typescript: fix trailing whitespace
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/spec/embed-jsonl.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/test/gpt4all.test.js
Due: run-ts-workflow, run-default-workflow

Update gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.cc
Due: run-ts-workflow, run-default-workflow

Update gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

Update index.cc
  gpt4all-bindings/typescript/index.cc
Due: run-ts-workflow, run-default-workflow

remove/update some comments, format cpp
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

Update README.md
  README.md
Due: run-default-workflow

docs: fix mention of Q6_K quantization in README
  README.md
Due: run-default-workflow

python: use TypedDict from typing_extensions on python 3.9 and 3.10
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: bump version
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

add sanity checks for input nPast value
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

add demo of how to access return value of generator
  gpt4all-bindings/typescript/spec/streaming.mjs
Due: run-ts-workflow, run-default-workflow

casing consistency
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

update types and docs, add embeddings overloads
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

fix undefined var
  gpt4all-bindings/typescript/src/util.js
Due: run-ts-workflow, run-default-workflow

remove mkdirp dep
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/test/gpt4all.test.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-ts-workflow, run-default-workflow

ci: use `aws s3 sync` to copy docs
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

python: bump version to 2.3.2 to include *all* of the bugfixes
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: bump version to 2.3.2 to include *all* of the bugfixes (#2171)
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Update gpt4all-bindings/typescript/spec/streaming.mjs
  gpt4all-bindings/typescript/spec/streaming.mjs
Due: run-ts-workflow, run-default-workflow

Update gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/concurrency.mjs
Due: run-ts-workflow, run-default-workflow

update types
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

fix indentation
  gpt4all-bindings/typescript/spec/chat-memory.mjs
Due: run-ts-workflow, run-default-workflow

make sure chat session completion options are passed through properly, rename some vars for consistency
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

ci: use `aws s3 sync` to upload docs (#2172)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

typescript!: chatSessions, fixes, tokenStreams (#2045)
  gpt4all-bindings/python/docs/gpt4all_nodejs.md
  gpt4all-bindings/typescript/.clang-format
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/scripts/build_unix.sh
  gpt4all-bindings/typescript/spec/callbacks.mjs
  gpt4all-bindings/typescript/spec/chat-memory.mjs
  gpt4all-bindings/typescript/spec/chat-minimal.mjs
  gpt4all-bindings/typescript/spec/chat.mjs
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/embed-jsonl.mjs
  gpt4all-bindings/typescript/spec/embed.mjs
  gpt4all-bindings/typescript/spec/generator.mjs
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/spec/long-context.mjs
  gpt4all-bindings/typescript/spec/model-switching.mjs
  gpt4all-bindings/typescript/spec/stateless.mjs
  gpt4all-bindings/typescript/spec/streaming.mjs
  gpt4all-bindings/typescript/spec/system.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/config.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/test/gpt4all.test.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-python-workflow, run-ts-workflow, run-default-workflow

python: implement close() and context manager interface
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: implement close() and context manager interface (#2177)
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Fix to set proper app icon on MacOS.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow
