Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Fixing nuget pack for windows libraries
  gpt4all-bindings/csharp/Gpt4All/Gpt4All.csproj
Due: run-csharp-workflow, run-default-workflow

readme: document difference between installers
  README.md
Due: run-default-workflow

llamamodel: update model whitelist
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: fix model loading progress showing "Reload" sometimes
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

build_and_run: mention compiler and CUDA
  gpt4all-chat/build_and_run.md
Due: run-chat-workflow, run-default-workflow

Adding NativeInteropWrapper and better examples
  gpt4all-bindings/csharp/Gpt4All.Examples/Program.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/EmbCancelCallback.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/NativeMethods.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/llmodel_emb_cancel_callback.cs
  gpt4all-bindings/csharp/Gpt4All/Gpt4All.csproj
  gpt4all-bindings/csharp/Gpt4All/LLModel.cs
  gpt4all-bindings/csharp/Gpt4All/ModelFactory.cs
  gpt4all-bindings/csharp/Gpt4All/Models/EmbedResponse.cs
  gpt4all-bindings/csharp/Gpt4All/Models/GenerateResponse.cs
  gpt4all-bindings/csharp/Gpt4All/NativeInteropWrapper.cs
  gpt4all-bindings/csharp/Gpt4All/gen_bindings.ps1
Due: run-csharp-workflow, run-default-workflow

Adding unit tests
  gpt4all-bindings/csharp/Gpt4All.Tests.Unit/Gpt4All.Tests.Unit.csproj
  gpt4all-bindings/csharp/Gpt4All.Tests.Unit/LLModelTests.cs
  gpt4all-bindings/csharp/Gpt4All.sln
  gpt4all-bindings/csharp/Gpt4All/IOWrapper.cs
  gpt4all-bindings/csharp/Gpt4All/LLModel.cs
  gpt4all-bindings/csharp/Gpt4All/ModelFactory.cs
  gpt4all-bindings/csharp/Gpt4All/Properties/AssemblyInfo.cs
Due: run-csharp-workflow, run-default-workflow

Fix path in Readme
  gpt4all-bindings/python/README.md
Due: run-python-workflow, run-default-workflow

settings: prefix vk devices with "Vulkan: ", update old names
  gpt4all-backend/llmodel.h
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

kompute: fix device name leaks
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

chat: load progress is a property of the chat, not the window
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: context switching is a property of the chat, not the window
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Fix order of deletion to prevent use after free.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

chat: make isCurrentlyLoading a chat property based on progress
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: initialize status at top of loadModel
  gpt4all-chat/chat.cpp
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: use unique_ptr for LLModelInfo::model
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
Due: run-chat-workflow, run-default-workflow

chatllm: skip unnecessary calls to LLModel::saveState
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
Due: run-chat-workflow, run-default-workflow

chatllm: do not report failure on cancellation
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

ChatView: do not show lower "reload" button on error
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: show "waiting for model" state
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chatllm: simplify requesting of context switch
  gpt4all-chat/chat.cpp
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
Due: run-chat-workflow, run-default-workflow

chatllm: use std::optional for m_availableModels
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: skip context switch if unload is pending
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

backend: do not crash if GGUF lacks general.architecture
  gpt4all-backend/gptj.cpp
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Fix destruction and tear down of the embedding thread. (#2328)
  gpt4all-chat/database.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/embllm.h
Due: run-chat-workflow, run-default-workflow

llamamodel: free the batch in embedInternal
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

llamamodel: free the batch in embedInternal (#2348)
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

backend: do not crash if GGUF lacks general.architecture (#2346)
  gpt4all-backend/gptj.cpp
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: fix model loading progress showing "Reload" sometimes (#2337)
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chat: fix issues with quickly switching between multiple chats (#2343)
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

chat: fix issues with the initial "New Chat" (#2330)
  gpt4all-chat/chatlistmodel.cpp
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/qml/ChatDrawer.qml
Due: run-chat-workflow, run-default-workflow

readme: document difference between installers (#2336)
  README.md
Due: run-default-workflow

chat: bump version to 2.8.0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

python: update README to reflect CUDA build dependency
  gpt4all-bindings/python/README.md
Due: run-python-workflow, run-default-workflow

python: bump version for CUDA support
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

support the llama.cpp CUDA backend (#2310)
  .circleci/continue_config.yml
  LICENSE_SOM.txt
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/README.md
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/build_and_run.md
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/cmake/deploy-qt-linux.cmake.in
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/cmake/deploy-qt-windows.cmake.in
  gpt4all-chat/mysettings.cpp
Due: run-all-workflows, run-python-workflow, run-chat-workflow, run-default-workflow

cmake: fix Metal build after #2310
  gpt4all-backend/llama.cpp.cmake
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

cmake: fix Metal build after #2310 (#2350)
  gpt4all-backend/llama.cpp.cmake
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Add a FIXME for the current hardcoding of the dimension for the index.
  gpt4all-chat/embeddings.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
