Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

python: bump version
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

llamamodel: fix semantic typo in nomic client dynamic mode (#2216)
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

python: fix system prompt being ignored
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

Fix bugs with the context link text for localdocs to make the context links persistently work across application loads and fix scrolling bug with context links.
  gpt4all-chat/responsetext.cpp
  gpt4all-chat/responsetext.h
Due: run-chat-workflow, run-default-workflow

fix unintended whitespace after system prompt
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-chat/chatllm.cpp
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Change the behavior of show references setting for localdocs.
  gpt4all-chat/chat.cpp
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

llamamodel: fix -Wunused-lambda-capture warning
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

fix regressions in system prompt handling (#2219)
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-chat/chatllm.cpp
Due: run-python-workflow, run-chat-workflow, run-default-workflow

models.json: use simpler system prompt for Mistral OpenOrca
  gpt4all-chat/metadata/models2.json
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

llamamodel: only print device used in verbose mode
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

python: expose backend and device via GPT4All properties
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

backend: const correctness fixes
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
Due: run-chat-workflow, run-default-workflow

python: typing fixups
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: fix segfault with closed GPT4All
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

models.json: use simpler system prompt for Mistral OpenOrca (#2220)
  gpt4all-chat/metadata/models2.json
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Add output token control to CLI interface
  gpt4all-bindings/cli/app.py
Due: run-default-workflow

Roadmap update
  README.md
Due: run-default-workflow

Spelling error
  README.md
Due: run-default-workflow

Update README.md
  README.md
Due: run-default-workflow

Roadmap update (#2230)
  README.md
Due: run-default-workflow

Corrections to app.py cli update
  gpt4all-bindings/cli/app.py
Due: run-default-workflow

responsetext : fix markdown code block trimming
  gpt4all-chat/responsetext.cpp
Due: run-chat-workflow, run-default-workflow

chat: revert PR #2187
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/chat.svg
  gpt4all-chat/icons/db.svg
  gpt4all-chat/icons/edit.svg
  gpt4all-chat/icons/info.svg
  gpt4all-chat/icons/local-docs.svg
  gpt4all-chat/icons/models.svg
  gpt4all-chat/icons/settings.svg
  gpt4all-chat/icons/trash.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelDownloaderDialog.qml
  gpt4all-chat/qml/MyToolButton.qml
  gpt4all-chat/qml/SettingsDialog.qml
  gpt4all-chat/qml/SettingsView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

chat: revert PR #2148
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/chat.svg
  gpt4all-chat/icons/info.svg
  gpt4all-chat/icons/search.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/AboutDialog.qml
  gpt4all-chat/qml/ChatDrawer.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyToolButton.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

chat: use .rmodel extension for Nomic Embed
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

database: fix order of SQL arguments in updateDocument
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Remove town hall announcment
  README.md
Due: run-default-workflow

Remove town hall announcement from readme (#2237)
  README.md
Due: run-default-workflow

responsetext : fix markdown code block trimming (#2232)
  gpt4all-chat/responsetext.cpp
Due: run-chat-workflow, run-default-workflow

localdocs: small but important fixes to local docs (#2236)
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/database.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

python: do not print GPU name with verbose=False, expose this info via properties (#2222)
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

chat: temporarily revert some UI changes before next release (#2234)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/chat.svg
  gpt4all-chat/icons/db.svg
  gpt4all-chat/icons/edit.svg
  gpt4all-chat/icons/info.svg
  gpt4all-chat/icons/local-docs.svg
  gpt4all-chat/icons/models.svg
  gpt4all-chat/icons/search.svg
  gpt4all-chat/icons/settings.svg
  gpt4all-chat/icons/trash.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/AboutDialog.qml
  gpt4all-chat/qml/ChatDrawer.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelDownloaderDialog.qml
  gpt4all-chat/qml/MyToolButton.qml
  gpt4all-chat/qml/SettingsDialog.qml
  gpt4all-chat/qml/SettingsView.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

mixpanel: initial refactor
  gpt4all-chat/network.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
