Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

github: add missing dep
  .github/workflows/lint.yml
Due: none

Fix apparent CI failure due to "All Workflows filtered" (#3123)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run-all-workflows

ci: attempt to fix flaky downloads (#3124)
  .circleci/continue_config.yml
Due: run-all-workflows

changelog: tweak wording
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Fix compatibility with Qt 6.8 (#3121)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/MySettingsStack.qml
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

github: recursive clone
  .github/workflows/lint.yml
Due: none

github: try to fix file list
  .github/workflows/lint.yml
Due: none

test forked action
  .github/workflows/lint.yml
Due: none

fix sha
  .github/workflows/lint.yml
Due: none

update sha
  .github/workflows/lint.yml
Due: none

don't install stable ver
  .github/workflows/lint.yml
Due: none

set clazy version
  .github/workflows/lint.yml
Due: none

attempt to fix Qt 6.4 build
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatlistmodel.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/download.cpp
  gpt4all-chat/src/embllm.cpp
  gpt4all-chat/src/llm.cpp
  gpt4all-chat/src/logger.h
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/network.cpp
  gpt4all-chat/src/server.cpp
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

cmake: set minimum Qt version back to 6.5
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

cmake: set minimum Qt version back to 6.5 (#3129)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chatapi: clean up stubs for unimplented methods
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
Due: run-chat-workflow

fix some missing #includes
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
Due: run-all-workflows, run-chat-workflow

backend: don't expose write access to n_ctx and tokens via PromptContext
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
Due: run-all-workflows, run-python-workflow, run-chat-workflow

llmodel: use the token cache to help reuse previous results
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chatapi.h
Due: run-all-workflows, run-chat-workflow

llmodel: use a span for evalTokens batch to avoid copy
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chatapi.h
Due: run-all-workflows, run-chat-workflow

chatllm: remove use of deprecated '_qs'
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Add tests for error codes with local API server and also install a model to test model info. In future commits will test the other endpoints with a model installed.
  gpt4all-chat/tests/CMakeLists.txt
  gpt4all-chat/tests/python/test_server_api.py
Due: run-chat-workflow

llamamodel: fix backwards debug mode check
  gpt4all-backend/src/llamamodel.cpp
Due: run-all-workflows

chatllm: remove use of deprecated '_qs' (#3130)
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

Add a completions test as well.
  gpt4all-chat/tests/python/test_server_api.py
Due: run-chat-workflow

Gpt4all Custom Updater
  gpt4all-updater/CMakeLists.txt
  gpt4all-updater/README
  gpt4all-updater/include/Command.h
  gpt4all-updater/include/CommandFactory.h
  gpt4all-updater/include/CommandLine.h
  gpt4all-updater/include/Downgrade.h
  gpt4all-updater/include/Download.h
  gpt4all-updater/include/Embedded.h
  gpt4all-updater/include/Manifest.h
  gpt4all-updater/include/Modify.h
  gpt4all-updater/include/Package.h
  gpt4all-updater/include/Resource.h
  gpt4all-updater/include/State.h
  gpt4all-updater/include/Uninstall.h
  gpt4all-updater/include/Update.h
  gpt4all-updater/include/utils.h
  gpt4all-updater/src/Command.cxx
  gpt4all-updater/src/CommandFactory.cxx
  gpt4all-updater/src/CommandLine.cxx
  gpt4all-updater/src/Downgrade.cxx
  gpt4all-updater/src/Download.cxx.in
  gpt4all-updater/src/Embedded.cxx
  gpt4all-updater/src/Manifest.cxx
  gpt4all-updater/src/Modify.cxx
  gpt4all-updater/src/Package.cxx
  gpt4all-updater/src/Resource.cxx
  gpt4all-updater/src/State.cxx
  gpt4all-updater/src/Uninstall.cxx
  gpt4all-updater/src/Update.cxx
  gpt4all-updater/src/asm/bake_installer.S.in
  gpt4all-updater/src/main.cxx
  gpt4all-updater/src/resources/installer.rc.in
  gpt4all-updater/src/utils.cxx
  gpt4all-updater/tmp/manifest.xml
Due: none

llamamodel: fix missing callbacks and completely skipped decode
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_shared.cpp
Due: run-all-workflows

Add an xfail for issue #3133
  gpt4all-chat/tests/python/test_server_api.py
Due: run-chat-workflow

fix nondeterminism caused by different batch size on retry
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llamamodel_impl.h
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/src/chatapi.h
Due: run-all-workflows, run-chat-workflow

changelog: add this PR
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow

llmodel: fix incorrect offset direction
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llmodel_shared.cpp
Due: run-all-workflows

llmodel: remove outdated comment
  gpt4all-backend/include/gpt4all-backend/llmodel.h
Due: run-all-workflows

add tray
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

fix typo
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow

Fixup cmake to add widgets dependency and simplify closing/restoring.
  gpt4all-chat/main.qml
Due: run-chat-workflow

Allow for saving the chats when minimizing to system tray and only restore on specific activation reason.
  gpt4all-chat/main.qml
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatlistmodel.h
Due: run-chat-workflow

Set the global package check variable to allow packages required for deps.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow
