Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-bindings/csharp/.* run-csharp-workflow true
            gpt4all-backend/.* run-chat-workflow true
            gpt4all-chat/.* run-chat-workflow true
            .* run-default-workflow true

ci: fix missing Kompute support in python bindings (#1953)
  .circleci/continue_config.yml
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/setup.py
Due: run-all-workflows, run-python-workflow, run-chat-workflow, run-default-workflow

cmake: fix backwards LLAMA_KOMPUTE default
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

cmake: fix LLAMA_DIR use before set
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

github: encourage better feature request titles
  .github/ISSUE_TEMPLATE/feature-request.md
Due: run-default-workflow

Create Sponsor FUNDING.yml
  .github/Sponsor FUNDING.yml
Due: run-default-workflow

delete .ipynb_checkpoints in .gitignore
  gpt4all-api/.gitignore
Due: run-default-workflow

github: fix comments in issue template
  .github/ISSUE_TEMPLATE/bindings-bug.md
  .github/ISSUE_TEMPLATE/chat-bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/other-bug.md
Due: run-default-workflow

github: make it clearer that "Chat" bugs don't have to be graphical
  .github/ISSUE_TEMPLATE/chat-bug.md
Due: run-default-workflow

Fix visual artifact with close button in new version dialog.
  gpt4all-chat/qml/MyDialog.qml
Due: run-chat-workflow, run-default-workflow

backend: update llama.cpp for Intel GPU blacklist
  .gitmodules
Due: run-default-workflow

remove internal stream creation, api via async generator
  gpt4all-bindings/typescript/spec/generator.mjs
  gpt4all-bindings/typescript/spec/stream.mjs
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

fix d.ts
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

update docs
  gpt4all-bindings/python/docs/gpt4all_nodejs.md
Due: run-python-workflow, run-default-workflow

bump
  gpt4all-bindings/typescript/package.json
Due: run-ts-workflow, run-default-workflow

update
  gpt4all-bindings/typescript/README.md
Due: run-ts-workflow, run-default-workflow

README and project links for PyPI listing, refs #1963
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Update gpt4all-bindings/python/setup.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Import pathlib
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: bump version for new metadata
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: README and project links for PyPI listing (#1964)
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Update gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.cc
Due: run-ts-workflow, run-default-workflow

Complete revamp of model loading to allow for more discreet control by the user of the models loading behavior.
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/icons/eject.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/MyButton.qml
  gpt4all-chat/qml/MyMiniButton.qml
  gpt4all-chat/qml/SwitchModelDialog.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

models2.json: use a fresh conversion of Mistral OpenOrca
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

backend: process special tokens in LLamaModel::tokenize
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

python: actually fix python 3.8 compatibility
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Option for prompt
  gpt4all-bindings/cli/app.py
Due: run-default-workflow

only process special tokens in prompt template and system prompt
  gpt4all-backend/bert.cpp
  gpt4all-backend/bert_impl.h
  gpt4all-backend/gptj.cpp
  gpt4all-backend/gptj_impl.h
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
  gpt4all-chat/chatgpt.cpp
  gpt4all-chat/chatgpt.h
  gpt4all-chat/chatllm.cpp
Due: run-python-workflow, run-chat-workflow, run-default-workflow

llmodel: cleanup
  gpt4all-backend/bert.cpp
  gpt4all-backend/bert_impl.h
  gpt4all-backend/gptj.cpp
  gpt4all-backend/gptj/placeholder
  gpt4all-backend/gptj_impl.h
  gpt4all-backend/llama/placeholder
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-chat/chatgpt.h
Due: run-chat-workflow, run-default-workflow

backend: warn if user loads outdated model
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/md5.c
  gpt4all-backend/md5.h
Due: run-chat-workflow, run-default-workflow

docs: remove references to _format_chat_prompt_template
  gpt4all-bindings/python/docs/gpt4all_python.md
Due: run-python-workflow, run-default-workflow

chat: stub out blacklist check
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

md5: fix -Wcast-qual warnings
  gpt4all-backend/md5.c
Due: run-chat-workflow, run-default-workflow

Implement /v1/chat/completions endpoint for CPU mode
  gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
  gpt4all-api/gpt4all_api/app/tests/test_endpoints.py
Due: run-default-workflow

Update gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
  gpt4all-api/gpt4all_api/app/api_v1/routes/chat.py
Due: run-default-workflow

Fixes for issues identified in review.
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/SwitchModelDialog.qml
Due: run-chat-workflow, run-default-workflow

Increase padding for elided text in combo.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Don't erase context when reloading model by selection.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

models2.json: reupload Mistral OpenOrca with fixed general.name
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

llamamodel: blacklist by GGUF metadata instead of MD5
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/md5.c
  gpt4all-backend/md5.h
Due: run-chat-workflow, run-default-workflow
