Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

merge fixup
  gpt4all-chat/chatllm.h
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

feat: Add support for Mistral API models (#2053)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatapi.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/download.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Fix bug with removing old .txt chatgpt files in favor of .rmodel
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Split the main.qml into two pieces to support multiple views in future.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

track n_past, rename prompt/raw_prompt method to infer, add temp alias, update types
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/spec/chat.mjs
  gpt4all-bindings/typescript/spec/system.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

llamamodel: fix macOS build
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

llamamodel: fix macOS build (#2125)
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

consistently handle whitespace in system prompts
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-chat/metadata/models3.json
Due: run-python-workflow, run-chat-workflow, run-default-workflow

python: remove redundant doubling of backslashes
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: use pathlib, not os.path
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
Due: run-python-workflow, run-default-workflow

python: use more reasonable exception types
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: cleanup
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

breaking: honor empty system prompt/prompt template arguments
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: check validity of prompt template early
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

breaking: disallow writing to chat_session
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: deprecate fallback prompt template for unknown models
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

bindings: further fixes to fallback Alpaca prompt
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/typescript/src/config.js
Due: run-python-workflow, run-ts-workflow, run-default-workflow

breaking: current_chat_session defaults to None
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: remove prompt logging as formatting is now in backend
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: fix mistakes from #2086
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

python: tweak constructor docstrings
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

docs: update python GPT4All and Embed4All documentation
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/docs/gpt4all_python_embedding.md
Due: run-python-workflow, run-default-workflow

llamamodel: add missing #include <numeric>
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

python: various fixes for GPT4All and Embed4All (#2130)
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
  gpt4all-bindings/typescript/src/config.js
  gpt4all-chat/metadata/models3.json
Due: run-python-workflow, run-ts-workflow, run-chat-workflow, run-default-workflow

Revert "python: tweak constructor docstrings"
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

breaking: require keyword args to GPT4All.generate
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

docs: fix mkdocs warnings
  gpt4all-bindings/python/docs/gpt4all_cli.md
  gpt4all-bindings/python/docs/gpt4all_modal.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-default-workflow

python: be more defensive about writing to history
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
Due: run-python-workflow, run-default-workflow

python: improve type annotations
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

address review comments
  gpt4all-bindings/python/docs/gpt4all_python_embedding.md
Due: run-python-workflow, run-default-workflow

llamamodel: use better exception types for embedding
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

format cpp sources, add formatter config
  gpt4all-bindings/typescript/.clang-format
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
Due: run-ts-workflow, run-default-workflow

reuse nCtx from loadModel for prompting, free fakeReply string, rename question parameter to prompt
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
Due: run-ts-workflow, run-default-workflow

remove nCtx from prompt context type, allow overriding nPast, allow setting default completion options on chat session, remove token count hack
  gpt4all-bindings/typescript/spec/chat-memory.mjs
  gpt4all-bindings/typescript/spec/chat-minimal.mjs
  gpt4all-bindings/typescript/spec/chat-restore.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

added spec testing larger than default context window
  gpt4all-bindings/typescript/spec/long-context.mjs
Due: run-ts-workflow, run-default-workflow

update docs, export chat session
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

Update embed.mjs
  gpt4all-bindings/typescript/spec/embed.mjs
Due: run-ts-workflow, run-default-workflow

delete fakeReply on error as well, just in case, still one thing off
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/spec/llmodel.mjs
Due: run-ts-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
