Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

cmake: establish a basic set of warnings to be be used in C++ projects
  common/common.cmake
  gpt4all-backend/CMakeLists.txt
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

backend(build): be less verbose
  gpt4all-backend/CMakeLists.txt
Due: run-all-workflows

build: add -Wextra-semi and fix warnings
  common/common.cmake
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/modellist.cpp
Due: run-all-workflows, run-chat-workflow

fix doubled semicolons
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/mysettings.cpp
Due: run-chat-workflow

build: enable -Wunused-lambda-capture and fix warning
  common/common.cmake
  gpt4all-backend/src/llmodel_shared.cpp
Due: run-all-workflows

build: enable -Wunused-private-field and fix warning
  common/common.cmake
  gpt4all-chat/src/database.h
Due: run-chat-workflow

build: enable -Wmissing-braces and fix warning
  common/common.cmake
  gpt4all-chat/src/database.cpp
Due: run-chat-workflow

chore(gpt4all_zh_tw.ts): update for nomic-ai#3038
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

chore(gpt4all_zh_tw.ts): tweak for model settings
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

chore(gpt4all_zh_tw.ts): tweak for processing units naming
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

Update zh_TW translation (#2911)
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

Update gpt4all_ro_RO.ts after v3.3.1 for v3.4.0
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

Update gpt4all_ro_RO.ts after v3.3.1 for v3.4.0 (#3040)
  gpt4all-chat/translations/gpt4all_ro_RO.ts
Due: run-chat-workflow

chat: do not connect layoutChanged to countChanged
  gpt4all-chat/src/localdocsmodel.cpp
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

Update translations.
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

Update translations. (#3037)
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

modellist: always emit layoutChanged when sorting, never otherwise
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

modellist: emit dataChanged on the correct index
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

modellist: remove invalidate calls now that we have fixed the signals
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

modellist: fix incorrect signal use and remove invalidate calls (#3042)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/localdocsmodel.cpp
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

Set version for release.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Fix changelog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Set version for release. (#3043)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

ci: pin Vulkan SDK to the previous version
  .circleci/continue_config.yml
Due: run-all-workflows

chat: release version 3.4.0
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

ci: pin Vulkan SDK to the previous version (#3044)
  .circleci/continue_config.yml
Due: run-all-workflows

python: fix failure on real Intel Macs
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow

python: clean up CUDA locating code
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow

changelog: add this PR
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow

cleanup
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow

Italian localization update
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

chat: release version 3.4.0 (#3046)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

cmake: fix macOS build and cleanup syntax
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
Due: run-chat-workflow

Add Llama 3.2 Instuct 1B and 3B to the model list.
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Make 8b first and then 3b, 1b.
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

Add Llama 3.2 Instuct 1B and 3B to the model list. (#3049)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Add a cookbook for Excel feature (#3029)
  gpt4all-bindings/python/docs/assets/attach_spreadsheet.png
  gpt4all-bindings/python/docs/assets/chat_window.png
  gpt4all-bindings/python/docs/assets/disney_spreadsheet.png
  gpt4all-bindings/python/docs/assets/spreadsheet_chat.png
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-microsoft-excel.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow

Bump version now that release is out.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Bump version now that release is out. (#3051)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
