Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

chat: fix documentation links
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/LocalDocsSettings.qml
Due: run-chat-workflow, run-default-workflow

ChatDrawer: make chat name editing more obvious
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/ChatDrawer.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

chat: fix documentation links (#2506)
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/LocalDocsSettings.qml
Due: run-chat-workflow, run-default-workflow

icons: add missing file
  gpt4all-chat/icons/check.svg
Due: run-chat-workflow, run-default-workflow

ChatDrawer: remove unnecessary onClicked
  gpt4all-chat/qml/ChatDrawer.qml
Due: run-chat-workflow, run-default-workflow

ChatDrawer: put changeName() call back, correctly
  gpt4all-chat/qml/ChatDrawer.qml
Due: run-chat-workflow, run-default-workflow

ChatDrawer: make chat name editing more obvious (#2507)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/check.svg
  gpt4all-chat/qml/ChatDrawer.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

remove console.logs from last PR
  gpt4all-chat/qml/ChatDrawer.qml
Due: run-chat-workflow, run-default-workflow

Ensure dotnet path in Windows signing job
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Ensure dotnet path in Windows signing job (#2508)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Online workflow
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Online workflow (#2505)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

MacOS Build Online: no offline on
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

MacOS Build Online: no offline on (#2509)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Add release notes and bump version.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Update gpt4all-chat/metadata/release.json
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

fix whitespace
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Add release notes and bump version. (#2510)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

cmake: set version to 3.0.1-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

cmake: set version to 3.0.1-dev0 (#2512)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

added video
  README.md
Due: run-default-workflow

jul2 docs updates
  README.md
  gpt4all-bindings/python/docs/assets/example-10189_256.gif
  roadmap.md
Due: run-python-workflow, run-default-workflow

small edits and placeholder gif
  README.md
  gpt4all-bindings/python/docs/assets/example-10189_256.gif
  gpt4all-bindings/python/docs/assets/ubuntu.svg
  gpt4all-bindings/python/docs/gpt4all_desktop/models.md
  gpt4all-bindings/python/docs/gpt4all_help/faq.md
  gpt4all-bindings/python/docs/gpt4all_python/home.md
  gpt4all-training/README.md
  roadmap.md
Due: run-python-workflow, run-default-workflow

quantization nits
  gpt4all-bindings/python/docs/gpt4all_desktop/models.md
  gpt4all-bindings/python/docs/gpt4all_python/home.md
Due: run-python-workflow, run-default-workflow

small edits and placeholder gif (#2513)
  README.md
  gpt4all-bindings/python/docs/assets/ubuntu.svg
  gpt4all-bindings/python/docs/gpt4all_desktop/models.md
  gpt4all-bindings/python/docs/gpt4all_help/faq.md
  gpt4all-bindings/python/docs/gpt4all_python/home.md
  gpt4all-training/README.md
  roadmap.md
Due: run-python-workflow, run-default-workflow

release.json: update release notes for v3.0.0
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

fix embedded quotes
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

spelling
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

release.json: update release notes for v3.0.0 (#2514)
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

ChatView: do not show "reload" if model is not installed
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

ChatView: still show the model name if not found
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Update gpt4all.py to fix grammar
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

Customize the menu to fit our style and align with a rounded border for combobox popups.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyComboBox.qml
  gpt4all-chat/qml/MyMenu.qml
  gpt4all-chat/qml/MyMenuItem.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Fix placement of our thumbs down dialog and datalake opt-in dialog.
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyDialog.qml
Due: run-chat-workflow, run-default-workflow

Convert this menu to use the new style as well.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

Fix folder dialog on linux so that we can select the folder properly.
  gpt4all-chat/qml/AddCollectionView.qml
  gpt4all-chat/qml/MySettingsStack.qml
Due: run-chat-workflow, run-default-workflow

Customize the menu to fit our style (#2535)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyComboBox.qml
  gpt4all-chat/qml/MyMenu.qml
  gpt4all-chat/qml/MyMenuItem.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Fix placement of our thumbs down dialog and datalake opt-in dialog. (#2540)
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyDialog.qml
Due: run-chat-workflow, run-default-workflow

Fix folder dialog on linux so that we can select the folder properly. (#2541)
  gpt4all-chat/qml/AddCollectionView.qml
  gpt4all-chat/qml/MySettingsStack.qml
Due: run-chat-workflow, run-default-workflow

modellist: work around filtered item models getting out of sync
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
