Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

Run lupdate before v3.10.0 release (#3512)
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

update Simplified Chinese translation for v3.10.0
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

update Italian translation for v3.10.0
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

tweak Italian translation
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

mark Italian translations as reviewed
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

Italian and draft Simplified Chinese translations for v3.10.0 (#3514)
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
Due: run-chat-workflow

chat: cut v3.10.0 release (#3511)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: release version 3.10.0
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: release version 3.10.0 (#3515)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: bump version to 3.10.1-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

readme: add Windows ARM download link
  README.md
Due: none

Create gpt4all_fr_FR.ts
  gpt4all-chat/translations/gpt4all_fr_FR.ts
Due: run-chat-workflow

sudo su && README.md
  sudo su && README.md
Due: none

sudo su && README.md
  gpt4all-bindings/python/sudo su && README.md
Due: run-python-workflow

Update gpt4all_fr_FR.ts
  gpt4all-chat/translations/gpt4all_fr_FR.ts
Due: run-chat-workflow

Update mysettings.cpp
  gpt4all-chat/src/mysettings.cpp
Due: run-chat-workflow

Update CMakeLists.txt
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

fr_Fr : finish translations
  gpt4all-chat/translations/gpt4all_fr_FR.ts
Due: run-chat-workflow

fr_FR update: missing final points
  gpt4all-chat/translations/gpt4all_fr_FR.ts
Due: run-chat-workflow

Correct phrasing/misspelling in a few entries
  gpt4all-chat/translations/gpt4all_fr_FR.ts
Due: run-chat-workflow

Cap max_tokens and n to prevent local API DoS
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

Refactor parseImpl method for improved readability
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

security: make trust_remote_code configurable and default to False
  gpt4all-training/inference.py
  gpt4all-training/train.py
Due: none

removed anchors from item managed by layout to resolve QML warning
  gpt4all-chat/qml/AddHFModelView.qml
  gpt4all-chat/qml/AddModelView.qml
Due: run-chat-workflow

fix: resolve high vulnerability CVE-2024-21538
  gpt4all-bindings/typescript/package-lock.json
  gpt4all-bindings/typescript/package.json
Due: run-ts-workflow

fix: pin 1 unpinned action(s)
  .github/workflows/codespell.yml
Due: none

fix: pin 1 unpinned action
  .github/workflows/codespell.yml
Due: none

models3.json: add Qwen3-8B model
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

fix: add Linux start menu desktop entry via XDG applications directory
  gpt4all-chat/cmake/installer_gpt4all_component.qs
Due: run-chat-workflow

fix: create XDG applications directory
  gpt4all-chat/cmake/installer_gpt4all_component.qs
Due: run-chat-workflow

Improve code block contrast in light theme
  gpt4all-chat/src/chatviewtextprocessor.cpp
Due: run-chat-workflow

Trying to build it on Arch Linux
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
Due: run-chat-workflow

added a feature to gpt4all to be able to add a custom header to remote providers calls along with the API key
  gpt4all-chat/qml/RemoteModelCard.qml
  gpt4all-chat/src/chatapi.cpp
  gpt4all-chat/src/chatapi.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/download.cpp
  gpt4all-chat/src/download.h
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/translations/gpt4all_en_US.ts
Due: run-chat-workflow

feat: rebrand ui and set custom orange theme
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/ApplicationSettings.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/StartupDialog.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow

fix(download): use HTTPS for gpt4all.io metadata and model fallback (#3682)
  gpt4all-chat/src/download.cpp
Due: run-chat-workflow

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: add CHANGELOG.md
  CHANGELOG.md
Due: none

docs: add GitHub profile link to README footer
  README.md
Due: none

fix(download): add a transfer timeout so stalled model downloads resume (#3692)
  gpt4all-chat/src/download.cpp
Due: run-chat-workflow
