Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Update README.md with form anchor
  README.md
Due: none

Update HomeView.qml with anchored form link
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow

Update README.md with form anchor (#3032)
  README.md
  gpt4all-chat/qml/HomeView.qml
Due: run-chat-workflow

xlsxtomd: fix regex replacement
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

xlsxtomd: shorten separator row
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

qxlsx: update submodule for style attr fix
  .gitmodules
Due: none

xlsxtomd: actually fix regex, and reduce unnecessary escapes
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

xlsxtomd: fix use of zero instead of firstRow
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

wording tweaks
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

chatllm: indentation tweak
  gpt4all-chat/src/chatllm.h
Due: run-chat-workflow

chatlistmodel: tweak warnings
  gpt4all-chat/src/chatlistmodel.cpp
Due: run-chat-workflow

changelog: tweak
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Tweaks for Excel to Markdown conversion (#3022)
  .gitmodules
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

Make it possible to keep some chats after downgrading GPT4All (#3030)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

Make the sheets one heading smaller than the attached filename.
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

fix double semicolons
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/mysettings.cpp
Due: run-chat-workflow

modellist: prefer const iterators to avoid detach
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

do not connect layoutChanged to countChanged
  gpt4all-chat/src/localdocsmodel.cpp
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

modellist: fix missing #include
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

modellist: assert that update functions are called from main thread
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

mysettings: eraseModel only needs an id
  gpt4all-chat/src/download.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/mysettings.cpp
  gpt4all-chat/src/mysettings.h
Due: run-chat-workflow

modellist: reduce updateData indent
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

modellist: emit layoutChanged when sorting, but not otherwise
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

modellist: emit dataChanged on the correct index
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

modellist: fix removal and improve locking
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/src/download.cpp
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

added limitations at the end
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-microsoft-excel.md
Due: run-python-workflow

matched filename in How It Works with filename in screenshot
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-microsoft-excel.md
Due: run-python-workflow

Update the chat screenshot with newest fixes.
  gpt4all-bindings/python/docs/assets/spreadsheet_chat.png
Due: run-python-workflow

cropped spreadsheet chat screenshot
  gpt4all-bindings/python/docs/assets/spreadsheet_chat.png
Due: run-python-workflow

add excel cookbook to sidebar, explain XLSX -> Markdown conversion in 'How It Works', and give example of parsed markdown
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-microsoft-excel.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow

Add a cookbook for excel.
  gpt4all-bindings/python/docs/assets/attach_spreadsheet.png
  gpt4all-bindings/python/docs/assets/chat_window.png
  gpt4all-bindings/python/docs/assets/disney_spreadsheet.png
  gpt4all-bindings/python/docs/assets/spreadsheet_chat.png
  gpt4all-bindings/python/docs/gpt4all_desktop/cookbook/use-local-ai-models-to-privately-chat-with-microsoft-excel.md
Due: run-python-workflow

Add the attached filename to the model's context. (#3028)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/xlsxtomd.cpp
Due: run-chat-workflow

modellist: provide a path property for convenience
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

fix removal of models in subdirectories
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/ModelsView.qml
  gpt4all-chat/src/download.cpp
  gpt4all-chat/src/download.h
Due: run-chat-workflow

modellist: fix models.json cache location
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

translations: run lupdate
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

translations: run lupdate (#3038)
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
