Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-bindings/csharp/.* run-csharp-workflow true
            gpt4all-backend/.* run-chat-workflow true
            gpt4all-chat/.* run-chat-workflow true
            .* run-default-workflow true

python: actually fix python 3.8 compatibility (#1973)
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

chat: fix abuse of qPrintable() and constData()
  gpt4all-chat/chat.cpp
  gpt4all-chat/chatgpt.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/network.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: fix unintended extra newline in log message
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chat: implement display of model loading warnings
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Add-Nous-Hermes-2-Mistral-7B-DPO.Q4_0.gguf
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Shorten the description and provide a valid url.
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Fix the hash on the new model.
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

chat: only warn once per model per launch
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

some progress to fixing error
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

chat: better handle case where network reachability is unknown
  gpt4all-chat/llm.cpp
Due: run-chat-workflow, run-default-workflow

chatllm: fix undefined behavior in resetContext
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

chat: join ChatLLM threads without calling destructors
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

python: more fixes for new prompt templates
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

fixing compilation errors
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

update models list
  gpt4all-bindings/typescript/src/config.js
  gpt4all-bindings/typescript/src/util.js
Due: run-ts-workflow, run-default-workflow

chat: fix ChatGPT after #1970
  gpt4all-chat/chatgpt.cpp
  gpt4all-chat/chatgpt.h
Due: run-chat-workflow, run-default-workflow

created mistral class
  gpt4all-chat/mistral.cpp
  gpt4all-chat/mistral.h
Due: run-chat-workflow, run-default-workflow

added mistral api to usable models
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/mistral.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

fixed local mistral 7b loaded as online
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

llmodel_c: simplify casts and callbacks
  gpt4all-backend/llmodel_c.cpp
Due: run-chat-workflow, run-default-workflow

Remove system prompt of Nous-Hermes-2-Mistral-7b-DPO
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

modellist: fix a memory leak
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

modellist: remove modelDirPath(), which was never used
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

Remove System Prompt completely
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

llmodel_c: expose fakeReply to the bindings
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

qml: update models.json URL in error message
  gpt4all-chat/qml/ModelDownloaderDialog.qml
Due: run-chat-workflow, run-default-workflow

Keep systemPrompt key
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

models3: remove system prompt of Nous-Hermes-2-Mistral-7b-DPO (#2054)
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

modellist: rename "deprecated" to "removedIn", disable if equal
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

Model discovery.
  gpt4all-chat/download.cpp
  gpt4all-chat/download.h
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ModelDownloaderDialog.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MyMiniButton.qml
Due: run-chat-workflow, run-default-workflow

Bump version and release notes for 2.7.2
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Fix for issue #2080 where the GUI appears to hang when a chat with a large model is deleted. There is no reason to save the context for a chat that is being deleted.
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
Due: run-chat-workflow, run-default-workflow

llmodel_c: expose fakeReply to the bindings (#2061)
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

chat: fix ChatGPT after #1970 (#2051)
  gpt4all-chat/chatgpt.cpp
  gpt4all-chat/chatgpt.h
Due: run-chat-workflow, run-default-workflow

modellist: rename "deprecated" to "removedIn", disable if equal (#2063)
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
Due: run-chat-workflow, run-default-workflow

python: more fixes for new prompt templates (#2044)
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow
