Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

build: override more bad RapidJSON defaults
  gpt4all-chat/deps/CMakeLists.txt
Due: run-chat-workflow

modellist: fix use of lambda syntax that MSVC doesn't support yet
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

get Jinja2Cpp to build on MSVC
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

build: only enable /Zc:__cplusplus for C++ code
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

ci: only show the online installer option on the main branch
  .circleci/continue_config.yml
Due: run-all-workflows

ci: also exclude npm and pypi publish outside of main branch
  .circleci/continue_config.yml
Due: run-all-workflows

rename python workflow and publish job for clarity
  .circleci/continue_config.yml
Due: run-all-workflows

Fixups for Jinja PR (#3215)
  .circleci/continue_config.yml
  .gitmodules
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/server.cpp
Due: run-all-workflows, run-chat-workflow

ci: do not run online installer or publish jobs on PR branches (#3217)
  .circleci/continue_config.yml
Due: run-all-workflows

chat: cut v3.5.0-rc1 release
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

llamamodel: add missing softmax to fix temperature (#3202)
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-chat/CHANGELOG.md
Due: run-all-workflows, run-chat-workflow

chat: cut v3.5.0-rc1 release candidate (#3218)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

add changelog entries for #3147
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow

Move the 'how do i find a chat template' section earlier on chat template docs page
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

python: load templates from model files, and add legacy template warning
  gpt4all-backend/include/gpt4all-backend/llmodel_c.h
  gpt4all-backend/src/llmodel_c.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-all-workflows, run-python-workflow

python: bump major version for breaking change to chat templates
  gpt4all-bindings/python/setup.py
Due: run-python-workflow

remove misplaced assignment to argtypes with wrong values
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow

resolve some flake8 complaints about new code
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow

add changelog entries for Jinja PR (#3223)
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-chat/CHANGELOG.md
Due: run-python-workflow, run-chat-workflow

changelog: add more changes from #3147
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

changelog: add more changes from #3147 (#3226)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Animate the removal of chat items when editing prompts.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

Simplify
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

Animate the removal of chat items when editing prompts. (#3227)
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

adjust wording in edit/redo confirmation dialogs
  gpt4all-chat/qml/ChatItemView.qml
Due: run-chat-workflow

disable edit/redo instead of making them disappar
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/MyToolButton.qml
Due: run-chat-workflow

qml: tweaks to new edit/redo buttons (#3228)
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/MyToolButton.qml
Due: run-chat-workflow

chat: cut v3.5.0-rc2 release candidate
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: cut v3.5.0-rc2 release candidate (#3229)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

fix sed path
  .github/workflows/cpp-linter.yml
Due: none

fix syntax
  .github/workflows/cpp-linter.yml
Due: none

test with files-changed-only=false
  .github/workflows/cpp-linter.yml
Due: none

add CMAKE_PREFIX_PATH
  .github/workflows/cpp-linter.yml
Due: none

fix qt packages
  .github/workflows/cpp-linter.yml
Due: none

add self to path filter
  .github/workflows/cpp-linter.yml
Due: none

add dep
  .github/workflows/cpp-linter.yml
Due: none

more deps
  .github/workflows/cpp-linter.yml
Due: none

fix name
  .github/workflows/cpp-linter.yml
Due: none

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
