Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

update docs
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

Allow changing the install path
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

Update README.md
  README.md
Due: run-default-workflow

update docs again
  gpt4all-bindings/python/docs/gpt4all_nodejs.md
  gpt4all-bindings/typescript/README.md
Due: run-python-workflow, run-ts-workflow, run-default-workflow

llmodel: prevent future update errors by not copy-pasting code
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-chat/llm.cpp
Due: run-chat-workflow, run-default-workflow

chat: fix non-AVX CPU detection on Windows
  gpt4all-chat/llm.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: refactor cpu_supports_avx/cpu_supports_avx2
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-chat/llm.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: remove reference to old bert implementation
  gpt4all-backend/llmodel.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: throw exceptions instead of logging to console
  gpt4all-backend/llmodel.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: cleanup
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
Due: run-chat-workflow, run-default-workflow

llmodel_c: clean up error handling
  gpt4all-backend/llmodel_c.cpp
Due: run-chat-workflow, run-default-workflow

python: use RuntimeError for model_create2 failure
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

modellist: fix copy-paste error
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

fix non-AVX CPU detection (#2141)
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-chat/llm.cpp
  gpt4all-chat/modellist.cpp
Due: run-python-workflow, run-chat-workflow, run-default-workflow

fix failing workflow
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: fix failing build-ts-docs workflow (#2142)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Revert "ci: fix failing build-ts-docs workflow (#2142)"
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

docs: clarify prompt template retrieval, fix typo
  gpt4all-bindings/python/docs/gpt4all_python.md
Due: run-python-workflow, run-default-workflow

Rename the model for more clarity
  gpt4all-chat/metadata/models2.json
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Fix invalid model configuration
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

Update Ghost 7B v0.9.1 configuration
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

Change download url
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

Support Ghost 7B v0.9.1, fast, powerful and smooth for Vietnamese and English languages.
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

fix with npm install --ignore-scripts again
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

python: documentation update and typing improvements (#2129)
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/docs/gpt4all_cli.md
  gpt4all-bindings/python/docs/gpt4all_modal.md
  gpt4all-bindings/python/docs/gpt4all_python.md
  gpt4all-bindings/python/docs/gpt4all_python_embedding.md
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/tests/test_gpt4all.py
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow, run-chat-workflow, run-default-workflow

ci: fix build-ts-docs with npm install --ignore-scripts (#2143)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

Embed4All: require explicit prefix for unknown models
  gpt4all-backend/llamamodel.cpp
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

pyllmodel: fix occasional AttributeError on exit
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python and docs: models2.json -> models3.json
  gpt4all-bindings/python/docs/gpt4all_chat.md
  gpt4all-bindings/python/docs/gpt4all_faq.md
  gpt4all-bindings/python/docs/index.md
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

llamamodel: fix shouldAddBOS for Bert and Nomic Bert
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

pyllmodel: fix a comment
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: optionally return token count in Embed4All.embed
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

llamamodel: add note about E5 Mistral
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

fix typo
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
