Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

chatlistmodel: make sure threads are done before exit
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

spelling fixes
  gpt4all-backend/llamamodel.cpp
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

expose n_gpu_layers parameter of llama.cpp (#1890)
  gpt4all-backend/bert.cpp
  gpt4all-backend/bert_impl.h
  gpt4all-backend/gptj.cpp
  gpt4all-backend/gptj_impl.h
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-bindings/csharp/Gpt4All/Bindings/LLModel.cs
  gpt4all-bindings/csharp/Gpt4All/Bindings/NativeMethods.cs
  gpt4all-bindings/csharp/Gpt4All/Model/Gpt4AllModelFactory.cs
  gpt4all-bindings/golang/binding.cpp
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModel.java
  gpt4all-bindings/java/src/main/java/com/hexadevlabs/gpt4all/LLModelLibrary.java
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/gpt4all/pyllmodel.py
  gpt4all-bindings/typescript/index.cc
  gpt4all-chat/chatgpt.cpp
  gpt4all-chat/chatgpt.h
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/main.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ModelSettings.qml
Due: run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

token generator and stream
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

chat: fix crash caused by calling clearChats too early
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

actually delete chats in clearChats()
  gpt4all-chat/chatlistmodel.h
Due: run-chat-workflow, run-default-workflow

Maxwell/Pascal GPU support and crash fix (#1895)
  gpt4all-chat/chatlistmodel.h
  gpt4all-chat/main.cpp
Due: run-chat-workflow, run-default-workflow

async generator and token stream
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/spec/generator.mjs
  gpt4all-bindings/typescript/spec/stream.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-ts-workflow, run-default-workflow

support for ngl and more testing, nearly done
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/spec/generator.mjs
  gpt4all-bindings/typescript/spec/stream.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

comment on weird behavior, fix another day
  gpt4all-bindings/typescript/spec/stream.mjs
Due: run-ts-workflow, run-default-workflow

Add Nomic Embed model for atlas with localdocs.
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/embeddings.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/embllm.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocsmodel.cpp
  gpt4all-chat/localdocsmodel.h
  gpt4all-chat/main.qml
  gpt4all-chat/metadata/models2.json
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/qml/CollectionsDialog.qml
  gpt4all-chat/qml/ModelDownloaderDialog.qml
Due: run-chat-workflow, run-default-workflow

Make sure to use the search_query tag for nomic embed.
  gpt4all-chat/embllm.cpp
Due: run-chat-workflow, run-default-workflow

Bump the version and release notes for v2.6.2.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

Fix for progress bar color on legacy theme.
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Fix the sizing for model download.
  gpt4all-chat/qml/ModelDownloaderDialog.qml
Due: run-chat-workflow, run-default-workflow

chatllm: do not attempt to load the model after a failure
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

fix VRAM leak when model loading fails
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Fix the download and settings dialog to take more real estate if available on large monitors.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Fix VRAM leak when model loading fails (#1901)
  gpt4all-backend/llamamodel.cpp
  gpt4all-chat/chatllm.cpp
Due: run-chat-workflow, run-default-workflow

Remove docx, epub, mobi from localdocs as they can give binary.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: limit supported extensions to txt, pdf, md, rst
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

csharp: fix build failure due to warning on macOS
  gpt4all-bindings/csharp/Gpt4All/Model/Gpt4AllModelFactory.cs
Due: run-csharp-workflow, run-default-workflow

llamamodel: add 12 new architectures for CPU inference
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Update guidance
  gpt4all-api/README.md
Due: run-default-workflow

Update API guidance (#1924)
  gpt4all-api/README.md
Due: run-default-workflow

Fix compatibility with Qt 6.4
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chatgpt.cpp
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/modellist.cpp
Due: run-chat-workflow, run-default-workflow

More sensible main window sizing
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

python: release bindings version 2.2.0
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

Fix includes.
  gpt4all-chat/chat.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
Due: run-chat-workflow, run-default-workflow

llamamodel: add 12 new architectures for CPU inference (#1914)
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: run-default-workflow

Make the collection dialog progress bar more readable.
  gpt4all-chat/qml/CollectionsDialog.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Reverse patch so we can minimize down to lowest HD form factor.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

python: make LLModel private
  gpt4all-bindings/python/gpt4all/__init__.py
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
