Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

jinja2cpp: update submodule for else/endif crash fix (#3373)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

cmake: do not modify gpt4all.app after signing it (#3417)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/src/main.cpp
Due: run-chat-workflow

ci: build offline installers when pipeline is scheduled (#3436)
  .circleci/continue_config.yml
Due: run-all-workflows

chat: bump version to v3.7.1-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

metadata: fix typo
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: cut v3.5.0 release (#3240)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: cut v3.5.2 release (#3292)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

chat: run update_translations for v3.5.0 (#3230)
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

Release notes for v3.6.1 and bump version (#3339)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

codeinterpreter: permit console.log with single string arg (#3426)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/codeinterpreter.cpp
Due: run-chat-workflow

qml: fix missing localdocs and prefill progress (#3330)
  gpt4all-chat/qml/ChatItemView.qml
Due: run-chat-workflow

Release of 3.6.0. (#3329)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

[Jinja] Fix typo in Phi-3.1-mini-128k-instruct replacement template (#3412)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Update changlog and version to make 3.5.1 hotfix release. (#3252)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Break the explore models view into two. (#3269)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/main.qml
  gpt4all-chat/qml/AddGPT4AllModelView.qml
  gpt4all-chat/qml/AddHFModelView.qml
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/MyTabButton.qml
  gpt4all-chat/qml/Theme.qml
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
  gpt4all-chat/translations/gpt4all_en_US.ts
  gpt4all-chat/translations/gpt4all_es_MX.ts
  gpt4all-chat/translations/gpt4all_it_IT.ts
  gpt4all-chat/translations/gpt4all_pt_BR.ts
  gpt4all-chat/translations/gpt4all_ro_RO.ts
  gpt4all-chat/translations/gpt4all_zh_CN.ts
  gpt4all-chat/translations/gpt4all_zh_TW.ts
Due: run-chat-workflow

ci: fix macOS codesigning (#3408)
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

chat: release version 3.5.2 (#3296)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Fixups for Jinja PR (#3215)
  .circleci/continue_config.yml
  .gitmodules
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/server.cpp
Due: run-all-workflows, run-chat-workflow

Update maintainers. (#3322)
  MAINTAINERS.md
Due: none

Fix local server regressions caused by Jinja PR (#3256)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
  gpt4all-chat/tests/python/test_server_api.py
Due: run-chat-workflow

ci: use the shared 'gpt4all' context for environment variables (#3392)
  .circleci/continue_config.yml
Due: run-all-workflows

chat: bump version to 3.5.4-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

ChatView: make "stop" and "copy conversation" work again (#3336)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

chat: release v3.5.0 (#3241)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

Fix the z-ordering of the home button. (#3246)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

Italian localization update (#3389)
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

Animate the removal of chat items when editing prompts. (#3227)
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

Update README.md - brokenlink (#3380)
  README.md
Due: none

ci: downgrade Windows image to fix build (#3306)
  .circleci/continue_config.yml
Due: run-all-workflows

modellist: fix cloning of chat template and system message (#3262)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

add Windows ARM build (#3385)
  .circleci/continue_config.yml
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/cpack_config.cmake
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/main.cpp
Due: run-all-workflows, run-chat-workflow

ci: selective signing and automatic release builds (#3430)
  .circleci/continue_config.yml
Due: run-all-workflows

Add more chat template substitutions (#3393)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

models3: fix Llama 3.2 chat template (#3251)
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

chatmodel: fix incorrect currentResponse argument (#3245)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

Italian localization update (#3236)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

Bump version to v3.5.1-dev0 (#3242)
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

jinja2cpp: update submodule for 'not X is defined' fix (#3402)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow
