Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

database: do not roll back operations that require forward progress
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
Due: run-chat-workflow, run-default-workflow

database: fail fast on read errors
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: fail fast if binary data is encountered in a text document
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: fix reading of UTF-16 and UTF-32 files
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: implement configurable file extensions (WIP)
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocs.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

also remove the go binding
  gpt4all-bindings/README.md
  gpt4all-bindings/golang/Makefile
  gpt4all-bindings/golang/README.md
  gpt4all-bindings/golang/binding.cpp
  gpt4all-bindings/golang/binding.h
  gpt4all-bindings/golang/example/main.go
  gpt4all-bindings/golang/go.mod
  gpt4all-bindings/golang/go.sum
  gpt4all-bindings/golang/gpt4all.go
  gpt4all-bindings/golang/gpt4all_suite_test.go
  gpt4all-bindings/golang/gpt4all_test.go
  gpt4all-bindings/golang/options.go
Due: run-default-workflow

spelling fix
  gpt4all-bindings/README.md
Due: run-default-workflow

ci: remove csharp from config.yml
  .circleci/config.yml
Due: run-all-workflows, run-default-workflow

fix wording
  gpt4all-bindings/README.md
Due: run-default-workflow

docs: add notice to an out-of-date document
  gpt4all-backend/README.md
  gpt4all-bindings/python/docs/gpt4all_faq.md
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Update gpt4all_monitoring.md
  gpt4all-bindings/python/docs/gpt4all_monitoring.md
Due: run-python-workflow, run-default-workflow

cli: Allow for multiline prompt and visual processing feedback
  gpt4all-bindings/cli/app.py
Due: run-default-workflow

docs: add description of OpenLIT GPU monitoring (#2436)
  gpt4all-bindings/python/docs/gpt4all_monitoring.md
Due: run-python-workflow, run-default-workflow

typo in training log documentation
  gpt4all-training/TRAINING_LOG.md
Due: run-default-workflow

fix: typos in reset context comments
  gpt4all-chat/chat.cpp
Due: run-chat-workflow, run-default-workflow

Add a latest news markdown file for future version.
  gpt4all-chat/metadata/latestnews.md
Due: run-chat-workflow, run-default-workflow

[NEW UI] chat: refactor mysettings + other cleanup (#2417)
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/download.cpp
  gpt4all-chat/embeddings.cpp
  gpt4all-chat/embllm.cpp
  gpt4all-chat/logger.cpp
  gpt4all-chat/main.cpp
  gpt4all-chat/modellist.cpp
  gpt4all-chat/modellist.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/network.cpp
  gpt4all-chat/server.cpp
Due: run-chat-workflow, run-default-workflow

database: don't call .text() to print QSqlError
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: fail fast if a v1 collection cannot be added
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: remove full-text search fallback
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: enable automatic db vacuuming
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Start fleshing out the AddModelView.
  gpt4all-chat/qml/AddModelView.qml
Due: run-chat-workflow, run-default-workflow

database: remove dead store
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Increase the size of the left bar to better match design.
  gpt4all-chat/main.qml
Due: run-chat-workflow, run-default-workflow

Add a blocker comment for cleanDB not being interruptable.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

database: consolidate table creation
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

chat: do not confuse folders between different collections
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocsmodel.cpp
  gpt4all-chat/localdocsmodel.h
Due: run-chat-workflow, run-default-workflow

Fix resize of application settings to allow smallest window width with largest font.
  gpt4all-chat/qml/MySettingsLabel.qml
Due: run-chat-workflow, run-default-workflow

database: suppress warnings caused by watching a path twice
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
Due: run-chat-workflow, run-default-workflow

database: add already satisfied table constraints
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

chat: scale home page elements down to 1.25x of design
  gpt4all-chat/icons/changelog.svg
  gpt4all-chat/icons/nomic_logo.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/HomeView.qml
  gpt4all-chat/qml/MyFancyLink.qml
  gpt4all-chat/qml/MySlug.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

database: use foreign key constraint where applicable
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Continue impl of redesign for installed models view.
  gpt4all-chat/qml/AddModelView.qml
  gpt4all-chat/qml/ModelsView.qml
Due: run-chat-workflow, run-default-workflow

database: improve readability of SQL 'create table'
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

[NEW UI] configurable LocalDocs file extensions (#2431)
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocs.h
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
  gpt4all-chat/qml/ApplicationSettings.qml
Due: run-chat-workflow, run-default-workflow

Fix the resizing of model settings when the window width is minimum with largest font.
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow, run-default-workflow

database: add TODO comment about line_from/line_to
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

oscompat: fix macOS build
  gpt4all-chat/oscompat.cpp
Due: run-chat-workflow, run-default-workflow

database: stop the scan timer when the queue is empty
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
