Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

llmodel: rename recalculateContext to shiftContext
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-chat/chatapi.h
Due: run-chat-workflow, run-default-workflow

llmodel: fix stringsOverlap when key is longer than other string
  gpt4all-backend/llmodel_shared.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: stop calling stop sequences "reverse prompts"
  gpt4all-backend/llmodel_shared.cpp
Due: run-chat-workflow, run-default-workflow

llmodel: do not match partial special tokens against stop sequences
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chatapi.h
Due: run-chat-workflow, run-default-workflow

Models: Add Phi-3-mini-128k-instruct
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

changelog: add new changes, fix a few entries
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

Rename paths to 3.1
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

Update URL
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

python: detect Rosetta 2
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

Address review by Cosmic-Snow
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

python: bump version to v2.8.0.dev0 (3.0.0 was never released)
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: add a changelog for the upcoming python-v2.8.0 release
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow, run-default-workflow

python: bump version to 2.8.0 (3.0.0 was never released)
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

docs: replace default model & link to wiki in CLI readme (#2719)
  gpt4all-bindings/cli/README.md
Due: run-default-workflow

changelog: fix spelling
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

translations: update Italian translation (#2786)
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow, run-default-workflow

chat(build): enable translations by default
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

translations: rename 'en' to 'en_US'
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/translations/gpt4all_en_US.ts
Due: run-chat-workflow, run-default-workflow

translations: modernize and fix memory leak
  gpt4all-chat/mysettings.cpp
  gpt4all-chat/mysettings.h
Due: run-chat-workflow, run-default-workflow

translations: try allowing en_US translation
  gpt4all-chat/mysettings.cpp
Due: run-chat-workflow, run-default-workflow

translations: add conditional plurals to en_US translation
  gpt4all-chat/translations/gpt4all_en_US.ts
Due: run-chat-workflow, run-default-workflow

python: detect Rosetta 2 (#2793)
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

update changelog in anticipation of release
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow, run-default-workflow

python: prepare to release v2.8.0 (#2794)
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

ci: explicitly build with 4 jobs on Linux
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

change -j4 to -j$(nproc) for flexibility
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: explicitly build with 4 jobs on Linux (#2799)
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: remove unnecessary deps from python build
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: disable Vulkan version check for python build
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: disable CUBINs for python build
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

python: search for CUDA 11 as well as CUDA 12
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

backend: use CMAKE_CUDA_ARCHITECTURES directly
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llama.cpp.cmake
Due: run-chat-workflow, run-default-workflow

Update models3.json
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow, run-default-workflow

python: always load both CUDA 11 and 12 if available
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

update changelog
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow, run-default-workflow

fix typo
  gpt4all-bindings/python/CHANGELOG.md
Due: run-python-workflow, run-default-workflow

remove unnecessary #include
  gpt4all-backend/llamamodel_impl.h
Due: run-chat-workflow, run-default-workflow

consider this 2.8.1.dev0 as 2.8.0 did upload for macOS
  gpt4all-bindings/python/CHANGELOG.md
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

chat: add CHANGELOG.md (#2699)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow, run-default-workflow

chat: faster KV shift, continue generating, fix stop sequences (#2781)
  gpt4all-backend/CMakeLists.txt
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/chat.cpp
  gpt4all-chat/chat.h
  gpt4all-chat/chatapi.cpp
  gpt4all-chat/chatapi.h
  gpt4all-chat/chatllm.cpp
  gpt4all-chat/chatllm.h
  gpt4all-chat/qml/ChatView.qml
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
