Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

Update gpt4all-chat/translations/gpt4all_de_DE.ts
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow

Apply suggestions from code review part II
  gpt4all-chat/translations/gpt4all_de_DE.ts
Due: run-chat-workflow

chat: fix localdocs breakage in v3.5.2
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

cmake: bump version to v3.5.3-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

chat: fix localdocs breakage in v3.5.2 (#3302)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

New v3.5.3 hotfix release.
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Changlog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

New v3.5.3 hotfix release. (#3304)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

ci: downgrade Windows image to attempt to fix build
  .circleci/continue_config.yml
Due: run-all-workflows

add comment
  .circleci/continue_config.yml
Due: run-all-workflows

ci: downgrade Windows image to fix build (#3306)
  .circleci/continue_config.yml
Due: run-all-workflows

llmodel: dlopen llama.cpp libraries lazily instead of eagerly
  gpt4all-backend/include/gpt4all-backend/llmodel.h
  gpt4all-backend/src/llamamodel.cpp
  gpt4all-backend/src/llmodel.cpp
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/embllm.cpp
Due: run-all-workflows, run-chat-workflow

chat: release version 3.5.3
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: release version 3.5.3 (#3307)
  gpt4all-chat/metadata/latestnews.md
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow

chat: bump version to 3.5.4-dev0
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Fix for remote model templates when messages contain xml.
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

Add changelog.
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Use jinja escape instead of cdata.
  gpt4all-chat/src/modellist.cpp
Due: run-chat-workflow

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
