Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Fix invalid model configuration
  gpt4all-chat/metadata/models2.json
Due: run-chat-workflow, run-default-workflow

Embed4All: optionally count tokens, misc fixes (#2145)
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llamamodel_impl.h
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_c.h
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-bindings/python/docs/gpt4all_chat.md
  gpt4all-bindings/python/docs/gpt4all_faq.md
  gpt4all-bindings/python/docs/index.md
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-chat-workflow, run-default-workflow

Preliminary redesign of the UI. This has no major regression.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/chat.svg
  gpt4all-chat/icons/info.svg
  gpt4all-chat/icons/search.svg
  gpt4all-chat/main.qml
  gpt4all-chat/qml/AboutDialog.qml
  gpt4all-chat/qml/ChatDrawer.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyToolButton.qml
  gpt4all-chat/qml/Theme.qml
Due: run-chat-workflow, run-default-workflow

Fix colors for server chat in all themes.
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow, run-default-workflow

pyllmodel: fix generate_embeddings annotations
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: fix ConfigType alias
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: make sure encoding is identity for Range requests
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: use a .part file for partial downloads
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: verify using file size and MD5 from models3.json
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: use typing_extensions for TypeAlias import
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: use actual file size in verify progress
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

fix typo
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: improve handling of incomplete downloads (#2152)
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/gpt4all/gpt4all.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

python: also delete partial file on KeyboardInterrupt/SystemExit
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

python: also delete partial file on KeyboardInterrupt/SystemExit (#2154)
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow, run-default-workflow

oops bad rebase
  gpt4all-bindings/typescript/index.cc
Due: run-ts-workflow, run-default-workflow

fix compile errors after merge
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/spec/embed.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

update specs
  gpt4all-bindings/typescript/spec/callbacks.mjs
  gpt4all-bindings/typescript/spec/chat-memory.mjs
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/spec/long-context.mjs
  gpt4all-bindings/typescript/spec/model-switching.mjs
  gpt4all-bindings/typescript/spec/streaming.mjs
  gpt4all-bindings/typescript/spec/system.mjs
Due: run-ts-workflow, run-default-workflow

search embed spec preview & fix array bounds
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/spec/embeddings-search.mjs
Due: run-ts-workflow, run-default-workflow

input token counts, update callback api
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/prompt.h
  gpt4all-bindings/typescript/spec/callbacks.mjs
  gpt4all-bindings/typescript/spec/streaming.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

bump vers
  gpt4all-bindings/typescript/package.json
Due: run-ts-workflow, run-default-workflow

update counts docs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

update example, embed api needs to b changed
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/spec/embed.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

fix regression and remove deprecated constructor
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/src/config.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

track and return input token counts from system prompt and fakereply
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

spel
  gpt4all-bindings/typescript/index.cc
Due: run-ts-workflow, run-default-workflow

Update README.md
  gpt4all-bindings/typescript/README.md
Due: run-ts-workflow, run-default-workflow

fix spec output
  gpt4all-bindings/typescript/spec/llmodel.mjs
Due: run-ts-workflow, run-default-workflow

backward compat / support passing messages array
  gpt4all-bindings/typescript/spec/chat-restore.mjs
  gpt4all-bindings/typescript/spec/stateless.mjs
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
Due: run-ts-workflow, run-default-workflow

embeddings working? api decisions next
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/spec/embed.mjs
Due: run-ts-workflow, run-default-workflow

fix typings for embeddings
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
Due: run-ts-workflow, run-default-workflow

embed jsonl dataset from zip example
  gpt4all-bindings/typescript/spec/embed-jsonl.mjs
Due: run-ts-workflow, run-default-workflow

spelling and adding breaking changes
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/spec/stateless.mjs
Due: run-ts-workflow, run-default-workflow

formatting
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
  gpt4all-bindings/typescript/src/util.js
Due: run-ts-workflow, run-default-workflow

remove libbert
  gpt4all-bindings/typescript/scripts/build_unix.sh
Due: run-ts-workflow, run-default-workflow

actually run on gpu lol
  gpt4all-bindings/typescript/spec/embed-jsonl.mjs
Due: run-ts-workflow, run-default-workflow

update specs and readme
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/spec/embed-jsonl.mjs
  gpt4all-bindings/typescript/spec/embed.mjs
Due: run-ts-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
