Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

more informative errors for blank chat templates
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

clearer error messages
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow

change v1 template header to avoid ambiguity
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

add documentation
  gpt4all-bindings/python/docs/gpt4all_desktop/templates.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow

rename templates.md -> chat_templates.md
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
  gpt4all-bindings/python/mkdocs.yml
Due: run-python-workflow

fix example that assumes objects and not dicts
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

modellist: fix restoring defaults of cloned models
  gpt4all-chat/src/modellist.cpp
  gpt4all-chat/src/modellist.h
Due: run-chat-workflow

fix Jinja errors overflowing the settings page
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MySettingsTab.qml
Due: run-chat-workflow

link to the new docs page aggressively
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow

add reasonable chat templates for models that don't include them
  gpt4all-backend/src/llmodel_shared.cpp
  gpt4all-chat/metadata/models3.json
Due: run-all-workflows, run-chat-workflow

python: add compatibility with new models3.json
  gpt4all-bindings/python/gpt4all/gpt4all.py
Due: run-python-workflow

llamamodel: add missing softmax sampler
  gpt4all-backend/src/llamamodel.cpp
Due: run-all-workflows

implement redo of earlier responses
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

WIP: interaction buttons on chat messages
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/ChatMessageButton.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/MyToolButton.qml
Due: run-chat-workflow

qml: s/framing/control/
  gpt4all-chat/qml/ModelSettings.qml
Due: run-chat-workflow

implement editing of aribitrary prompts
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chat.h
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatllm.h
  gpt4all-chat/src/chatmodel.h
Due: run-chat-workflow

ask for confirmation before using edit to clear most of chat
  gpt4all-chat/qml/ChatItemView.qml
  gpt4all-chat/qml/ChatView.qml
  gpt4all-chat/qml/ConfirmationDialog.qml
  gpt4all-chat/qml/ModelSettings.qml
  gpt4all-chat/qml/MySettingsTab.qml
Due: run-chat-workflow

also ask for confirmation when resetting chat
  gpt4all-chat/qml/ChatView.qml
Due: run-chat-workflow

docs: fix bulleted lists
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

docs: improve explanation
  gpt4all-bindings/python/docs/gpt4all_desktop/chat_templates.md
Due: run-python-workflow

replace the pencil (edit) icon
  gpt4all-chat/icons/edit.svg
Due: run-chat-workflow

do not store peerIndex
  gpt4all-chat/src/chatllm.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

fix spelling errors
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/qml/ChatItemView.qml
Due: run-chat-workflow

fix GCC 12 compat
  gpt4all-chat/src/chatllm.cpp
Due: run-chat-workflow

override Llama 3.2 templates
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

Fix chat template for llama 3.2 models.
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

Another small fix for llama 3.2 chat templates.
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

Speculative fix for macos offline installer build.
  .circleci/continue_config.yml
Due: run-all-workflows

Another speculative fix.
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
Due: run-all-workflows, run-chat-workflow

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

fix promptIndex mistakes after recent changes to Jinja PR
  gpt4all-chat/src/chat.cpp
  gpt4all-chat/src/chatmodel.h
  gpt4all-chat/src/server.cpp
Due: run-chat-workflow

build: fix installation and packaging of Jinja2Cpp
  .gitmodules
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/deps/CMakeLists.txt
Due: run-chat-workflow

build: disable rapidjson tests to avoid gtest conflict
  gpt4all-chat/deps/CMakeLists.txt
Due: run-chat-workflow

ci: fix accidental use of 'wget' alias instead of wget.exe
  .circleci/continue_config.yml
Due: run-all-workflows

Path conditions:
  run-all-workflows: (any of: .circleci/.*) or (any of: gpt4all-backend/.*)
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-chat-workflow: any of: gpt4all-chat/.*
