Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-csharp-workflow, run-chat-workflow, run-default-workflow

Remove the debug example in database as it's now too simplistic and out of date.
  gpt4all-chat/database.cpp
Due: run-chat-workflow, run-default-workflow

Large update to localdocs with many moving parts. This commit is a breaking change that requires re-indexing of all collections.
  gpt4all-chat/database.cpp
  gpt4all-chat/database.h
  gpt4all-chat/embllm.cpp
  gpt4all-chat/embllm.h
  gpt4all-chat/localdocs.cpp
  gpt4all-chat/localdocs.h
  gpt4all-chat/localdocsmodel.cpp
  gpt4all-chat/localdocsmodel.h
Due: run-chat-workflow, run-default-workflow

Add several new icons and change current set.
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/icons/changelog.svg
  gpt4all-chat/icons/chat.svg
  gpt4all-chat/icons/db.svg
  gpt4all-chat/icons/discord.svg
  gpt4all-chat/icons/edit.svg
  gpt4all-chat/icons/github.svg
  gpt4all-chat/icons/globe.svg
  gpt4all-chat/icons/home.svg
  gpt4all-chat/icons/info.svg
  gpt4all-chat/icons/local-docs.svg
  gpt4all-chat/icons/models.svg
  gpt4all-chat/icons/nomic_logo.svg
  gpt4all-chat/icons/search.svg
  gpt4all-chat/icons/settings.svg
  gpt4all-chat/icons/trash.svg
  gpt4all-chat/icons/twitter.svg
Due: run-chat-workflow, run-default-workflow

python: depend on offical NVIDIA CUDA packages
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

llmodel: add CUDA to the DLL search path if CUDA_PATH is set
  gpt4all-backend/dlhandle.h
  gpt4all-backend/llmodel.cpp
Due: run-chat-workflow, run-default-workflow

python: make CUDA runtime libraries explicitly optional
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

llmodel: add CUDA to the DLL search path if CUDA_PATH is set (#2357)
  gpt4all-backend/dlhandle.h
  gpt4all-backend/llmodel.cpp
Due: run-chat-workflow, run-default-workflow

installer script: fix detection of macOS on newer QtIFW
  gpt4all-chat/cmake/installerscript.qs
Due: run-chat-workflow, run-default-workflow

installer script: fix detection of macOS on newer QtIFW (#2361)
  gpt4all-chat/cmake/installerscript.qs
Due: run-chat-workflow, run-default-workflow

remove outdated comments
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
Due: run-ts-workflow, run-default-workflow

simpler build from source
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/package.json
Due: run-ts-workflow, run-default-workflow

python: tweak GPU init failure message
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

Fixup after review.
  gpt4all-chat/database.cpp
  gpt4all-chat/embllm.cpp
Due: run-chat-workflow, run-default-workflow

update unix build script to create .so runtimes correctly
  gpt4all-bindings/typescript/scripts/build_unix.sh
Due: run-ts-workflow, run-default-workflow

python: init_gpu fixes (#2368)
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
Due: run-python-workflow, run-default-workflow

python: depend on offical NVIDIA CUDA packages (#2355)
  gpt4all-bindings/python/gpt4all/_pyllmodel.py
  gpt4all-bindings/python/setup.py
Due: run-python-workflow, run-default-workflow

configure ci build type, use RelWithDebInfo for dev build script
  .circleci/continue_config.yml
  gpt4all-bindings/typescript/scripts/build_unix.sh
Due: run-all-workflows, run-ts-workflow, run-default-workflow

add clean script
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/yarn.lock
Due: run-ts-workflow, run-default-workflow

fix streamed token decoding / emoji
  gpt4all-bindings/typescript/prompt.cc
  gpt4all-bindings/typescript/spec/emoji.mjs
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

remove deprecated nCtx
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

backend: fix #includes with include-what-you-use
  gpt4all-backend/gptj.cpp
  gpt4all-backend/llamamodel.cpp
  gpt4all-backend/llmodel.cpp
  gpt4all-backend/llmodel.h
  gpt4all-backend/llmodel_c.cpp
  gpt4all-backend/llmodel_shared.cpp
  gpt4all-backend/utils.cpp
  gpt4all-backend/utils.h
Due: run-chat-workflow, run-default-workflow

cmake: fix PARENT_SCOPE warning in backend
  gpt4all-backend/CMakeLists.txt
Due: run-chat-workflow, run-default-workflow

chat: add release notes for v2.8.0 and bump version
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

ci: explicitly use -DCMAKE_BUILD_TYPE=Release
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

ci: build python bindings with MSVC
  .circleci/continue_config.yml
Due: run-all-workflows, run-default-workflow

chat: add release notes for v2.8.0 and bump version (#2372)
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/metadata/release.json
Due: run-chat-workflow, run-default-workflow

update typings
  gpt4all-bindings/typescript/src/gpt4all.d.ts
Due: run-ts-workflow, run-default-workflow

readme,mspell
  gpt4all-bindings/typescript/README.md
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

cuda/backend logic changes + name napi methods like their js counterparts
  gpt4all-bindings/typescript/index.cc
  gpt4all-bindings/typescript/index.h
  gpt4all-bindings/typescript/src/chat-session.js
  gpt4all-bindings/typescript/src/gpt4all.d.ts
  gpt4all-bindings/typescript/src/gpt4all.js
  gpt4all-bindings/typescript/src/models.js
Due: run-ts-workflow, run-default-workflow

convert llmodel example into a test, separate test suite that can run in ci
  .circleci/continue_config.yml
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/spec/llmodel.mjs
  gpt4all-bindings/typescript/test/bindings.test.js
  gpt4all-bindings/typescript/test/ci.test.js
Due: run-all-workflows, run-ts-workflow, run-default-workflow

update examples / naming
  gpt4all-bindings/typescript/spec/concurrency.mjs
  gpt4all-bindings/typescript/spec/context-large.mjs
  gpt4all-bindings/typescript/spec/context-recalc.mjs
  gpt4all-bindings/typescript/spec/token-callbacks.mjs
  gpt4all-bindings/typescript/spec/token-streaming-emoji.mjs
  gpt4all-bindings/typescript/spec/token-streaming.mjs
Due: run-ts-workflow, run-default-workflow

update deps, remove the need for binding.ci.gyp, make node-gyp-build fallback easier testable
  .circleci/continue_config.yml
  gpt4all-bindings/typescript/.gitignore
  gpt4all-bindings/typescript/binding.ci.gyp
  gpt4all-bindings/typescript/binding.gyp
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/scripts/assert-backend-sources.js
  gpt4all-bindings/typescript/yarn.lock
Due: run-all-workflows, run-ts-workflow, run-default-workflow

make sure the assert-backend-sources.js script is published, but not the others
  gpt4all-bindings/typescript/.npmignore
Due: run-ts-workflow, run-default-workflow

build correctly on windows (regression on node-gyp-build)
  gpt4all-bindings/typescript/package.json
  gpt4all-bindings/typescript/yarn.lock
Due: run-ts-workflow, run-default-workflow

codespell
  gpt4all-bindings/typescript/test/bindings.test.js
Due: run-ts-workflow, run-default-workflow

llamamodel: fix assertion failure after llama.cpp update
  gpt4all-backend/llamamodel.cpp
Due: run-chat-workflow, run-default-workflow

make codespell happy
  gpt4all-chat/database.cpp
  gpt4all-training/old-README.md
Due: run-chat-workflow, run-default-workflow

llamamodel: fix BERT tokenization after llama.cpp update (#2381)
  gpt4all-backend/llamamodel.cpp
  gpt4all-chat/database.cpp
  gpt4all-training/old-README.md
Due: run-chat-workflow, run-default-workflow

Path conditions:
  run-all-workflows: any of: .circleci/.*
  run-python-workflow: any of: gpt4all-bindings/python/.*
  run-ts-workflow: any of: gpt4all-bindings/typescript/.*
  run-csharp-workflow: any of: gpt4all-bindings/csharp/.*
  run-chat-workflow: (any of: gpt4all-backend/.*) or (any of: gpt4all-chat/.*)
  run-default-workflow: any of: .*
