Repository nomic-ai/gpt4all: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all-workflows, run-python-workflow, run-ts-workflow, run-chat-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.1
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            .circleci/.* run-all-workflows true
            gpt4all-backend/.* run-all-workflows true
            gpt4all-bindings/python/.* run-python-workflow true
            gpt4all-bindings/typescript/.* run-ts-workflow true
            gpt4all-chat/.* run-chat-workflow true

update to Qt 6.8.1
  .circleci/continue_config.yml
Due: run-all-workflows

changelog: add this PR
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

fix typos
  .circleci/continue_config.yml
Due: run-all-workflows

save chats on quit
  gpt4all-chat/main.qml
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatlistmodel.h
Due: run-chat-workflow

add changelog entry
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Italian localization update
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

Save chats on quit, even if window isn't closed first (#3387)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/main.qml
  gpt4all-chat/src/chatlistmodel.cpp
  gpt4all-chat/src/chatlistmodel.h
Due: run-chat-workflow

ci: fix line continuation
  .circleci/continue_config.yml
Due: run-all-workflows

ci: fix Qt 6.8.1 package names
  .circleci/continue_config.yml
Due: run-all-workflows

ci: fix name of Windows MSVC package
  .circleci/continue_config.yml
Due: run-all-workflows

ci: fix missing line continuations
  .circleci/continue_config.yml
Due: run-all-workflows

cmake: make it possible to sign maintenancetool
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/cpack-steal-config.cmake.in
  gpt4all-chat/cmake/cpack_config.cmake
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/cmake/installer_gpt4all_component.qs
  gpt4all-chat/cmake/installer_maintenancetool_component.qs
Due: run-chat-workflow

use new workflow in CI and make unsigned build simpler
  .circleci/continue_config.yml
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/cpack_config.cmake
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
Due: run-all-workflows, run-chat-workflow

ci: use the shared 'gpt4all' context for environment variables
  .circleci/continue_config.yml
Due: run-all-workflows

ci: use the shared 'gpt4all' context for environment variables (#3392)
  .circleci/continue_config.yml
Due: run-all-workflows

chat template cleanup
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

add some new chat templates to the substitution list
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

fix EM German Mistral prompt template
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
Due: run-chat-workflow

add comments to clarify which template is which
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

Add more chat template substitutions (#3393)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/metadata/models3.json
  gpt4all-chat/src/jinja_replacements.cpp
Due: run-chat-workflow

jinja2cpp: update submodule for partial subscript crash fix (#3394)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Sign maintenancetool.app on macOS (#3391)
  .circleci/continue_config.yml
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/cpack-steal-config.cmake.in
  gpt4all-chat/cmake/cpack_config.cmake
  gpt4all-chat/cmake/deploy-qt-mac.cmake.in
  gpt4all-chat/cmake/installer_gpt4all_component.qs
  gpt4all-chat/cmake/installer_maintenancetool_component.qs
Due: run-all-workflows, run-chat-workflow

add Windows ARM build (#3385)
  .circleci/continue_config.yml
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
  gpt4all-chat/cmake/cpack_config.cmake
  gpt4all-chat/deps/CMakeLists.txt
  gpt4all-chat/src/database.cpp
  gpt4all-chat/src/main.cpp
Due: run-all-workflows, run-chat-workflow

ci: add missing context to Windows ARM builds
  .circleci/continue_config.yml
Due: run-all-workflows

ci: add missing context to Windows ARM builds (#3400)
  .circleci/continue_config.yml
Due: run-all-workflows

fix deps and windeployqt
  .circleci/continue_config.yml
Due: run-all-workflows

Italian localization update (#3389)
  gpt4all-chat/translations/gpt4all_it_IT.ts
Due: run-chat-workflow

Bump version for 3.6.2 release.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

jinja2cpp: update submodule for 'not X is defined' fix (#3402)
  gpt4all-chat/CHANGELOG.md
Due: run-chat-workflow

Make it 3.7.0.
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Bump version for 3.6.2 release. (#3401)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow

Bump version for 3.7.0 release. (#3401)
  gpt4all-chat/CHANGELOG.md
  gpt4all-chat/CMakeLists.txt
Due: run-chat-workflow
